@import '../../../assets/styles/variables';

div#shell-view {
  background:#2D2E30;
  width:100%;
  height:100%;
  span.prompt {
    color:$lightestGrey;
  }

  span.input {
    color:$blue;
  }

  div {
    color:$orange;
  }
}