template(bindable="node")

    section.content-banner
        ul.breadcrumb
            li
                a(href='#') Network
            li
                a(href='#') ${node.id}
            li
                a(href='#') details
    section.content.dark
        div#shell-panel
        div#shell-view.shell

