template
    .ui.vertical.center.aligned.divided.segment.title-bar
        .ui.container
            .ui.text.menu
                .ui.header.item
                    h2 Workspaces
                .right.compact.menu
                    .ui.fitted.item
                        .ui.primary.button
                            | New Workspace
    .ui.vertical.center.aligned.segment
        .ui.container
            .ui.hidden.divider
            .ui.stackable.cards
                .ui.centered.link.card
                    .content
                        .header
                            | Dustin's Awesome App
                        .meta
                            | Hasli, Docker, NodeJs, MongoDB, Consul
                        .description
                            .ui.container.workspace--image_container
                                img(src='styles/themes/hasli/assets/images/logos/aws-logo.svg').workspace--image_size
                    .extra.content
                        .ui.centered.grid
                            .center.aligned.column
                                .ui.compact.secondary.menu(ref="element")
                                    a.fitted.item
                                        i.big.ion-ios-star-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-cloud-download-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-browsers-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-trash-outline.icon
                .ui.centered.link.card
                    .content
                        .header
                            | Dustin's Awesome App
                        .meta
                            | Hasli, Docker, NodeJs, MongoDB, Consul
                        .description
                            .ui.container.workspace--image_container
                                img(src='styles/themes/hasli/assets/images/logos/docker-icon.svg').workspace--image_size
                    .extra.content
                        .ui.centered.grid
                            .center.aligned.column
                                .ui.compact.secondary.menu(ref="element")
                                    a.fitted.item
                                        i.big.ion-ios-star-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-cloud-download-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-browsers-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-trash-outline.icon
                .ui.centered.link.card
                    .content
                        .header
                            | Dustin's Awesome App
                        .meta
                            | Hasli, Docker, NodeJs, MongoDB, Consul
                        .description
                            .ui.container.workspace--image_container
                                img(src='styles/themes/hasli/assets/images/logos/ca-logo.png').workspace--image_size
                    .extra.content
                        .ui.centered.grid
                            .center.aligned.column
                                .ui.compact.secondary.menu(ref="element")
                                    a.fitted.item
                                        i.big.ion-ios-star-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-cloud-download-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-browsers-outline.icon
                                    a.fitted.item
                                        i.big.ion-ios-trash-outline.icon
