template
    require(from="charts/donut")
    .widget
        .widget-header
            | Health
        .widget-body
            donut-chart(source.bind="healthy", label="Healthy")
            donut-chart(source.bind="unhealthy", label="Unhealthy")
            donut-chart(source.bind="unknown", label="Unknown")
            donut-chart(source.bind="shutdown", label="Shutdown")



