//
   Created by dustinlish on 11/7/16.

template
    .ui.hidden.divider
    h1.ui.header
        | Explore Official Applications
    .ui.hidden.divider
    .ui.container.grid
        .two.column.row
            .column
                .ui.icon.green.input
                    input(type='text', placeholder='Search...')
                    i.search.icon
            .right.aligned.column
                .ui.basic.primary.button
                    | + CREATE
        .three.column.row
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/cassandra-icon.svg')
                            .header
                                | Cassandra
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/docker-icon.svg')
                            .header
                                | Docker
                            .meta
                                | Hasli
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/elasticsearch-icon.svg')
                            .header
                                | Elastic Search
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
        .three.column.row
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/hasli-icon.svg')
                            .header
                                | Hasli Agent
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/java-icon.svg')
                            .header
                                | Java
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/mysql-logo.svg')
                            .header
                                | MySql
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
        .three.column.row
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/nodejs-icon.svg')
                            .header
                                | Node.js
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/postgres-icon.svg')
                            .header
                                | Postgres
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/rabbitmq-icon.svg')
                            .header
                                | RabbitMq
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
        .three.column.row
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/redis-logo.svg')
                            .header
                                | Redis
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/sql-server-icon.svg')
                            .header
                                | Sql Server
                            .meta
                                | Hasli
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
            .column
                .ui.cards
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/wildfly-icon.svg')
                            .header
                                | Wildfly
                            .meta
                                | Hasli, Docker
                            .description
                                | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                        .extra.content
                            .ui.two.buttons
                                .ui.basic.green.button Add
                                .ui.basic.blue.button Deploy
