template
    .header
        | New ${type}
    .image.content
        .description
            .ui.form
                .field
                    label(style="color:white") Name
                    input(type='text', name='name', value.bind="name")
                .field
                    label(style="color:white") Description
                    input(type='text', name='name', value.bind="description")
    .actions
        .ui.black.deny.button
            | Cancel
        .ui.positive.right.labeled.icon.button(click.delegate="save()")
            | Save
            i.checkmark.icon