template 
    ul.collection
        li.collection-item.avatar
            i.material-icons.circle.green
                i.material-icons.mdi.mdi-power-plug 
            span.title Sunshower Plugin Manager 
            p 
                | version: 0.2.2-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
            
        li.collection-item.avatar
            i.material-icons.circle.green
                i.material-icons.mdi.mdi-script
            span.title Distributed Script Executor 
            p
                | version: 0.0.4-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
            
        li.collection-item.avatar
            i.material-icons.circle.green
                i.material-icons.mdi.mdi-cloud-sync
            span.title Sunshower Hypervisor Abstraction Layer (HAL) 
            p
                | version: 0.0.4-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            i.material-icons.circle.green
                i.material-icons.mdi.mdi-server-network
            span.title HAL Infrastructure 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/cb.png")
            span.title CloudBees Theme 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/cb.png")
            span.title CloudBees CJE Orchestrator 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/plugins/aws/aws-cloud.svg")
            span.title AWS HAL 
            p
                | version: 0.3.5-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/plugins/aws/aws-cloudformation.svg")
            span.title AWS CloudFormation 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/plugins/azure/azure-cloud.svg")
            span.title Azure HAL 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/plugins/azure/azure-resourcemanager.svg")
            span.title Azure ResourceManager 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/hal/orchestration/providers/docker-single.svg")
            span.title Docker Swarm Orchestration 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
        li.collection-item.avatar
            img.circle(src="assets/icons/hal/orchestration/providers/kubernetes-single.svg")
            span.title Kubernetes Orchestration 
            p
                | version: 0.0.1-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
            
        li.collection-item.avatar
            img.circle(src="assets/icons/hal/orchestration/providers/nomad-single.svg")
            span.title Nomad Orchestration 
            p
                | version: 0.0.0-SNAPSHOT
            i.material-icons.mdi.mdi-check-circle-outline Running (0 errors reported)
