template

    .row
        .col.m3.offset-m9
            | Don't have an account yet?
            a.btn-flat() SIGN UP
    h1 Sign in to Hasli.io

    .input-field
        input(type="text" id="auth-login-username" value.bind='user.username')
        label(for="auth-login-username") Username
    .input-field
        input(type="password" id="auth-login-password" value.bind='user.password')
        label(for="auth-login-password") Password

    button.waves-effect.btn(type="submit" click.delegate="login()") Log In


    //            .ui.error.message.left(show.bind="credentialsInvalid" style="margin-top:10px")
    //                p Username/password combination was not recognized
    //
    //            button.ui.field.button.fluid.primary(type='submit', click.delegate="login()") Sign In
    //            .field
    //                .ui.checkbox.pull-left
    //                    input(type='checkbox', value.bind='remember')
    //                    label Remember me
    //

