template
    .ui.vertical.footer.segment.hasli--footer
        .ui.container
            .ui.right.floated.horizontal.list
                .disabled.item(href='#') © Hasli, Inc.
                a.item(href='#') Terms
                a.item(href='#') Privacy Policy
                i.item.icons
                    i.mail.outline.icon
                    i.corner.add.icon(if.bind="errors && errors.length > 0")
            .ui.horizontal.list
                a.item(href='#') Docs
                a.item(href='#') Blogs
                a.item(href='#') Help & Support