template
    .ui.grid.palette(ref="element")
        .item(
            click.delegate="createNode()",
            draggable="true",
            dragend.delegate="createNode($event)"
        )
            i.large.square.icon
        //.item(click.delegate="groupElements()")
        //    i.large.icon.object.group
        //.item
        //    i.large.icon.object.ungroup
        //
        //.item
        //    i.large.icon.lock
        //.item
        //    i.large.icon.unlock
        //.item
        //    i.large.icon.clone
        //.item
        //    i.large.icon.server
