template(bindable="router")
    require(from="common/elements/profile-dropdown")
    .ui.secondary.menu.stackable.container
        .ui.item
            img(src="styles/themes/hasli/assets/images/logos/hasli-logo.svg").ui.small.image
        .menu.right
            .ui.item
                .ui.icon.input.visible
                    i.search.icon
                    input(type='text', placeholder='Search...')
                profile-dropdown.item.ui
