template(bindable="router")
    require(from="common/elements/profile-dropdown")
    .ui.secondary.inverted.menu.small
        .ui.image.small
            img(src="styles/themes/hasli/assets/images/logos/hasli-logo.svg").header.item
        a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
            | ${row.title}
        img.right.floated(src="styles/themes/hasli/assets/images/icons/pulse.svg").item
        .right.menu
            .item
                .ui.search.mini
                    .ui.icon.input
                        input.eight.wide.prompt(type='text', placeholder='Search...')
                        i.search.icon
                    .results
            img(src="styles/themes/hasli/assets/images/icons/alert.svg").item
            profile-dropdown.item