//
   Created by dustinlish on 10/21/16.

template
    .ui.pointing.dropdown
        .text username
        i.dropdown.icon
        .menu
            .item Profile
            .item Settings
            .item Help
            .divider
            .item Sign out

