//
   Created by dustinlish on 10/21/16.

template(bindable="router")
    .ui.vertical.menu.page-header--menu-dropdown(style="width:75px; background:none;")
        .ui.simple.dropdown.item(style="z-index:1000000")
            img.ui.image.mini(src="assets/sui/themes/hasli/assets/images/icons/profile.svg")
            //i.dropdown.icon //TODO make icon not show up in weird places
            .menu(style="margin-top:-1px")
                //TODO restyle
                a.item(href='#/main/settings/profile') Profile
                a.item(href='#/main/settings/admin') Admin
                .item Help
                .divider
                .item(click.delegate="logout()") Sign out


