template(bindable="router")
    require(from="./profile-dropdown")
    //require(from="./alerts-dropdown")
    //require(from="./activity-monitor-dropdown")

    nav
        .nav-wrapper
            a.brand-logo(href="/")
                img(src="dist/icons/hasli-icon.svg", alt="Hasli.io")
                span Hasli.io
            ul.right
                li
                    a
                        i.material-icons.mdi.mdi-pulse.activity-icon
                    // alerts-dropdown
                li
                    a
                        i.material-icons.mdi.mdi-bell.activity-icon
                    // activity-monitor-dropdown
                li
                    profile-dropdown