template(bindable="router")
    require(from="./profile-dropdown")
    //require(from="./alerts-dropdown")
    //require(from="./activity-monitor-dropdown")

    nav
        .nav-wrapper
            //a.brand-logo()
            //    img(src="dist/icons/hasli-icon.svg", alt="Hasli.io")
            ul.right
                li
                    a
                        span.mdi.mdi-pulse.activity-icon
                    // alerts-dropdown
                li
                    a
                        span.mdi.mdi-bell.activity-icon
                    // activity-monitor-dropdown
                li
                    profile-dropdown