template
    div.graph-tool-menu.below-breadcrumb
        div.btn-group.btn-group-lg(role='group')
            div.btn-group.btn-group-lg
                button.btn.btn-lg.dropdown-toggle(
                type='button',
                data-toggle='dropdown',
                aria-haspopup='true',
                aria-expanded='false',
                )
                    span.glyphicon.ion-ios-plus-outline.no-pad
                div.dropdown-menu.pull-right.menu-large(aria-labelledby='graph-layouts').row
                    div#chart-type-timeseries.col-md-1.ion-ios-pulse-strong
                    div#whatever.col-md-1.ion-pie-graph

