template
    require(from='main/workspace/wizards/workspace-wizard')
    workspace-wizard
    .ui.hidden.divider
    .ui.container
        .ui.text.menu
            h1.ui.header
                | Workspaces
            .right.menu
                .ui.right.aligned.item
                    a.ui.image(href='')
                        img(src='styles/themes/hasli/assets/images/icons/list-layout-icon.svg')
                    a.ui.image(href='')
                        img(src='styles/themes/hasli/assets/images/icons/block-layout-icon.svg')
        .ui.divider
        .ui.container.grid
            .two.column.row
                .column
                    .ui.icon.green.input
                        input(type='text', placeholder='Search...')
                        i.search.icon
                .right.aligned.seven.wide.column
                    .ui.basic.primary.button(type='button', click.trigger='create()')
                        | + CREATE
            .three.column.row
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button(type='button', click.trigger="open()")
                                        | Open
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Hasli Dev
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | CA UIM Workspace
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-green.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
            .three.column.row
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | California - Department of Justice
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | iFishGroup
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Playground
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
            .three.column.row
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | DevOps Workspace
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Another Workspace
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Foco Datacenter
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button Open
                                    .ui.basic.blue.button Deploy
        .ui.divider

