
template
    require(from='./workspace-side-menu.html')
    .ui.hidden.divider
    .ui.internally.celled.grid
        .row
            .three.wide.fluid.column
                .ui.basic.segment
                    workspace-side-menu(router.bind="router")
            .twelve.wide.column
                router-view
