//
   Created by dustinlish on 11/9/16.
template(bindable="router")
    .ui.fluid.text.vertical.menu
        a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
            | ${row.title}

