template
    .ui.form
        | basic layer form
        .field.overlay-field
            .overlay-label
                label Layer Name
            .ui.input.overlay-input
                input(type="text" name="name")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label Description
            .ui.input.overlay-input
                textarea(name="description", rows="2")
            .overlay-help
                i.icon.help.circle.outline.large
