// suppress ALL
template
    require(from='../info/node-info')
    require(from='utils/bootstrap-tooltip')
    .graph-tool-menu
        .btn-group.btn-group-lg(role='group')
            .btn-group.btn-group-lg
                button#graph-layouts.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', bootstrap-tooltip='title: grid view; placement: left')
                    span.glyphicon.ion-ios-grid-view-outline
                .dropdown-menu.narrow(aria-labelledby='graph-layouts')
                    a.dropdown-item.ion-ios-circle-outline(click.delegate="layout('circle')", bootstrap-tooltip='title: circle; placement: left')
                    a.dropdown-item.ion-shuffle(click.delegate="layout('rand')", href='#', bootstrap-tooltip='title: random; placement: left')
                    a.dropdown-item.ion-android-checkbox-outline(click.delegate="layout('preset')", href='#', bootstrap-tooltip='title: preset; placement: left')
                    a.dropdown-item.ion-grid(click.delegate="layout('grid')", href='#', bootstrap-tooltip='title: grid; placement: left')
                    a.dropdown-item.ion-arrow-swap(click.delegate="layout('breadthfirst')", href='#', bootstrap-tooltip='title: breadth-first; placement: left')
                    a.dropdown-item.ion-pinpoint(click.delegate="layout('cose')", href='#', bootstrap-tooltip='title: cose; placement: left')
                    a.dropdown-item.ion-ios-ionic-outline(click.delegate="layout('concentric')", href='#', bootstrap-tooltip='title: concentric; placement: left')
            .btn-group.btn-group-lg
                button#node-groups.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', bootstrap-tooltip='title: groups; placement: bottom')
                    span.glyphicon.ion-levels
                .dropdown-menu.wide(aria-labelledby='node-groups')
                    a.dropdown-item(click.delegate='createGraph()')
                        span.color-block.ion-ios-world-outline(style='margin-left:8px;')
                        |                         Network
                    a.dropdown-item(click.delegate='openGroup(group)', repeat.for='group of groups')
                        span.color-block(style='background-color:${group.color}')
                        | ${group.name.substring(0, 10)}
            button.btn.btn-default(click.delegate='fitGraph()', type='button', aria-label='Left Align', bootstrap-tooltip='title: fit graph; placement: bottom')
                span.glyphicon.ion-android-contract(aria-hidden='true')
    node-info(ref='nodeInfo', options.bind='nodeInfoOptions')
    .expand-all.graph(ref='graph')