template
    //start main/settings
    .sidenav--container
        sidenav(router="router")
        .sidenav--main-content
            .ui.hidden.divider
            router-view
    //end main/settings