//
   Created by dustinlish on 2/20/17.
template
    .ui.hidden.divider
    .ui.grid
        .four.wide.column
            .ui.grid
                .row
                    .column
                        .ui.segment
                            .ui.text.menu
                                .item
                                    | Details
                                .right.menu
                                    a.item
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Requirements
                                .right.menu
                                    a.item
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                            .ui.horizontal.list
                                .item
                                    .ui.basic.tiny.primary.button
                                        | Linux
                                .item
                                    .ui.basic.tiny.primary.button
                                        | Docker
                                .item
                                    .ui.basic.tiny.primary.button
                                        | Primary Hub
                                .item
                                    .ui.basic.tiny.primary.button
                                        | UIM
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Contributors
                                .right.menu
                                    a.item
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
        .twelve.wide.column
            .ui.segment
                h1.ui.header Readme
                p
                | Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum. Etiam nisi ante, consectetur eget placerat a, tempus a neque. Donec ut elit urna. Etiam venenatis eleifend urna eget scelerisque. Aliquam in nunc quis dui sollicitudin ornare ac vitae lectus.
                .ui.hidden.divider
                h2.ui.header How to use
                p
                | Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum. Etiam nisi ante, consectetur eget placerat a, tempus a neque. Donec ut elit urna. Etiam venenatis eleifend urna eget scelerisque. Aliquam in nunc quis dui sollicitudin ornare ac vitae lectus.
                h2.ui.header Environment Variables
                p
                | Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum. Etiam nisi ante, consectetur eget placerat a, tempus a neque. Donec ut elit urna. Etiam venenatis eleifend urna eget scelerisque. Aliquam in nunc quis dui sollicitudin ornare ac vitae lectus.
