//
   Created by dustinlish on 2/20/17.

template
    .ui.hidden.divider
    .ui.hidden.divider
    .ui.hidden.divider
    .ui.grid
        .left.floated.eight.wide.column
            h3.ui.grey.header
                | Latest: 8.47
        .right.floated.eight.wide.column
            .ui.secondary.right.floated.button
                | New Version


    .ui.segment.version-segment
        .ui.middle.aligned.grid
            .row
                .three.wide.center.aligned.column
                    h4.ui.header
                        | February 23rd, 1:00PM
                    span
                        svg(width='54px', height='51px', viewbox='52 44 54 51', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            defs
                            g#user-icon(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(52.000000, 44.000000)')
                                ellipse#Circle(fill='#CDCDD3', cx='26.8587096', cy='25.5', rx='26.7567568', ry='25.5')
                                text#DL(font-family='AvenirNext-Medium, Avenir Next', font-size='12', font-weight='400', fill='#FFFFFF')
                                    tspan(x='19.2598919', y='28') DL
                .six.wide.column
                    p
                        | Commit description
                .two.wide.column
                    .ui.header
                        | Status
                        .ui.sub.green.header.version-status_header
                            | Successful
                .two.wide.column
                    .ui.header
                        | Version
                        .ui.sub.grey.header.version-status_header
                            | 2.0.0
                .three.wide.column
                    .ui.header
                        | Tags
                        .ui.sub.green.header.version-status_header
                            a.ui.green.horizontal.label LATEST
    .ui.segment.version-segment
        .ui.middle.aligned.grid
            .row
                .three.wide.center.aligned.column
                    h4.ui.header
                        | February 23rd, 1:00PM
                    span
                        svg(width='54px', height='51px', viewbox='52 44 54 51', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            defs
                            g#user-icon(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(52.000000, 44.000000)')
                                ellipse#Circle(fill='#CDCDD3', cx='26.8587096', cy='25.5', rx='26.7567568', ry='25.5')
                                text#DL(font-family='AvenirNext-Medium, Avenir Next', font-size='12', font-weight='400', fill='#FFFFFF')
                                    tspan(x='19.2598919', y='28') DL
                .six.wide.column
                    p
                        | Commit description
                .two.wide.column
                    .ui.header
                        | Status
                        .ui.sub.green.header.version-status_header
                            | Successful
                .two.wide.column
                    .ui.header
                        | Version
                        .ui.sub.grey.header.version-status_header
                            | 2.0.0
                .three.wide.column
                    .ui.header
                        | Tags
                        .ui.sub.header.version-status_header
                            | none
