template
    .ui.secondary.pointing.menu
        a.active.item Controls

    .ui.horizontal.list(style="max-height:calc(100% - 50px); overflow-y:auto")
        .item(style="padding-left:0.5rem !important; margin-left:0.5rem !important")
            i.ui.object.group.icon
            .content
               | Group
        .item(style="padding-left:0.5rem !important; margin-left:0.5rem !important")
            i.ui.object.ungroup.icon
            .content
               | Ungroup
