template
    .ui.vertical.sticky.left.sidebar.menu.fixed.left--menu.no--boxshadow
        .item
            .header Layers
                .ui.right.floated.image
                    img(src='styles/themes/hasli/assets/images/icons/plus-green-icon.svg')
            .menu
                a.item
                    | Web Tier
                a.item
                    | Database Tier
                a.item
                    | Networking
                a.item
                    | Storage
        .item
            .header Some Other Info
            .menu
                a.item
                    | Accordion
                a.item
                    | Checkbox
                a.item
                    | Dimmer
                a.item
                    | Dropdown
                a.item
                    | Embed
                a.item
                    | Modal
                a.item
                    | Nag
