template
    .ui.vertical.sticky.left.sidebar.menu.fixed.left--menu.no--boxshadow
        .item
            .header Draft Boards
                .ui.right.floated.image
                    img(src='styles/themes/hasli/assets/images/icons/plus-green-icon.svg')
            .menu
                a.item
                    | Web Tier
                a.item
                    | Database Tier
                a.item
                    | Networking
                a.item
                    | Storage

