template
    .ui.modal(data-aurelia-ref="builder-modal")
        i.close.icon
        .header Name of Image
        .image.content
            .image Picture
            .description Words
        .actions
            .ui.button Cancel
            .ui.button Okay