template
    .ui.vertical.sticky.right.menu.fixed.right--menu.no--boxshadow
        .ui.grid
            .row
                .center.aligned.column
                    .ui.icon.secondary.compact.menu
                        a.item.active
                            i.large.grey.file.outline.icon
                        a.item
                            i.large.grey.folder.outline.icon
                        a.item
                            i.large.grey.help.circle.outline.icon
        .ui.basic.secondary.segment.property--menu
            form.ui.form
                .field
                    label Name
                    input(type='text', name='name', placeholder='Name')
                .field
                    label Tag
                    input(type='text', name='tag', placeholder='Tag')
        .ui.grid
            .row
                .column
                    .ui.basic.segment
                        h4.ui.header Applications
                        .ui.fluid.multiple.search.selection.dropdown
                            input(name='tags', type='hidden')
                            i.dropdown.icon
                            .default.text Most Popular
                            .menu
                                .item(data-value='database') Databases
                                .item(data-value='monitoring') Monitoring
                        .ui.divided.stackable.items(ref="element")
                            .item.flex.small--item(repeat.for="descriptor of elements",
                                draggable="true",
                                dragend.delegate="addImage(descriptor.pid)")
                                .ui.mini.image
                                    img(src='${descriptor.logo_url.large}')
                                .middle.aligned.content
                                    | ${descriptor.name}
