template
    .ui.vertical.sticky.right.sidebar.menu.fixed.right--menu.no--boxshadow
        .ui.centered.grid
            .row
                .center.aligned.column
                    .ui.icon.secondary.compact.menu
                        a.item.active
                            i.large.grey.file.outline.icon
                        a.item
                            i.large.grey.video.camera.icon
                        a.item
                            i.large.grey.video.play.icon
            .row
                .left.floated.column
                    .ui.basic.secondary.segment
                        form.ui.form
                            .field
                                label First Name
                                input(type='text', name='first-name', placeholder='First Name')
                            .field
                                label Last Name
                                input(type='text', name='last-name', placeholder='Last Name')
                            .field
                                .ui.checkbox
                                    input.hidden(type='checkbox', tabindex='0')
                                    label I agree to the Terms and Conditions
                            .field
                                label First Name
                                input(type='text', name='first-name', placeholder='First Name')
                            .field
                                label Last Name
                                input(type='text', name='last-name', placeholder='Last Name')
                            .field
                                .ui.checkbox
                                    input.hidden(type='checkbox', tabindex='0')
                                    label I agree to the Terms and Conditions
                            .field
                                label First Name
                                input(type='text', name='first-name', placeholder='First Name')
                            .field
                                label Last Name
                                input(type='text', name='last-name', placeholder='Last Name')
                            .field
                                .ui.checkbox
                                    input.hidden(type='checkbox', tabindex='0')
                                    label I agree to the Terms and Conditions
        .item
            h4.ui.header Applications
            .ui.divided.items
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/nodejs-icon.svg')
                    .middle.aligned.content
                        | Node.js
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/hasli-icon.svg')
                    .middle.aligned.content
                        | Hasli Agent
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/postgres-icon.svg')
                    .middle.aligned.content
                        | Postgres
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/nodejs-icon.svg')
                    .middle.aligned.content
                        | Node.js
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/hasli-icon.svg')
                    .middle.aligned.content
                        | Hasli Agent
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/postgres-icon.svg')
                    .middle.aligned.content
                        | Postgres
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/nodejs-icon.svg')
                    .middle.aligned.content
                        | Node.js
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/hasli-icon.svg')
                    .middle.aligned.content
                        | Hasli Agent
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/postgres-icon.svg')
                    .middle.aligned.content
                        | Postgres
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/nodejs-icon.svg')
                    .middle.aligned.content
                        | Node.js
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/hasli-icon.svg')
                    .middle.aligned.content
                        | Hasli Agent
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/postgres-icon.svg')
                    .middle.aligned.content
                        | Postgres
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/nodejs-icon.svg')
                    .middle.aligned.content
                        | Node.js
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/hasli-icon.svg')
                    .middle.aligned.content
                        | Hasli Agent
                .item.flex
                    .ui.mini.image
                        img(src='styles/themes/hasli/assets/images/logos/postgres-icon.svg')
                    .middle.aligned.content
                        | Postgres