//
   Created by dustinlish on 11/8/16.

template
    .ui.small.first.coupled.modal.transition
        i.close.icon
        .ui.center.aligned.header
            | CREATE NEW WORKSPACE
        .content
            .ui.form
                .field
                    label Name
                    .field
                        input(type='text', placeholder='Name')
                    label Version
                    .field
                        input(type='text', placeholder='1.0.0')
                    label Tag
                    .field
                        input(type='text', placeholder='tag')
        .actions
            .ui.right.primary.button(type='button', click.delegate='step("second")')
                | Next
    .ui.large.second.coupled.modal.transition
        i.close.icon
        .ui.center.aligned.header
            | ADD APPLICATIONS
        .content
            .ui.internally.celled.grid
                .row
                    .three.wide.fluid.column
                        .ui.basic.segment
                            .three.wide.fluid.column
                                .ui.fluid.text.vertical.menu
                                    .item
                                        .header Applications
                                        .menu
                                            .ui.container
                                                a.item Node.js
                                                    .ui.mini.right.floated.image
                                                        img(src='styles/themes/hasli/assets/images/icons/x-red-icon.svg')
                                            .ui.container
                                                a.item MongoDb
                                                    .ui.mini.right.floated.image
                                                        img(src='styles/themes/hasli/assets/images/icons/x-red-icon.svg')
                    .thirteen.wide.column.form--scroll
                        .ui.container.grid
                            .two.column.row
                                .column
                                    .ui.icon.green.input
                                        input(type='text', placeholder='Search...')
                                        i.search.icon
                                .right.aligned.column
                                    .ui.basic.primary.button(type='button', click.delegate='step("create")')
                                        | CREATE NEW APPLICATION
                            .three.column.row
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/cassandra-icon.svg')
                                                .header
                                                    | Cassandra
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/docker-icon.svg')
                                                .header
                                                    | Docker
                                                .meta
                                                    | Hasli
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/elasticsearch-icon.svg')
                                                .header
                                                    | Elastic Search
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                            .three.column.row
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/hasli-icon.svg')
                                                .header
                                                    | Hasli Agent
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/java-icon.svg')
                                                .header
                                                    | Java
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/mysql-logo.svg')
                                                .header
                                                    | MySql
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                            .three.column.row
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/nodejs-icon.svg')
                                                .header
                                                    | Node.js
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/postgres-icon.svg')
                                                .header
                                                    | Postgres
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/rabbitmq-icon.svg')
                                                .header
                                                    | RabbitMq
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button View
                            .three.column.row
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/redis-logo.svg')
                                                .header
                                                    | Redis
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button Deploy
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/sql-server-icon.svg')
                                                .header
                                                    | Sql Server
                                                .meta
                                                    | Hasli
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button Deploy
                                .column
                                    .ui.cards
                                        .card
                                            .content
                                                img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/wildfly-icon.svg')
                                                .header
                                                    | Wildfly
                                                .meta
                                                    | Hasli, Docker
                                                .description
                                                    | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleif.
                                            .extra.content
                                                .ui.two.buttons
                                                    .ui.basic.green.button Add
                                                    .ui.basic.blue.button Deploy
        .actions
            .ui.right.icon.primary.button(type='button', click.delegate='step("first")')
                | Previous
            .ui.right.icon.primary.button(type='button', click.delegate='step("third")')
                | Next
    .ui.large.third.coupled.modal.transition
        i.close.icon
        .ui.center.aligned.header
            | ADD FILES
        .content
            .ui.internally.celled.grid
                .row
                    .three.wide.fluid.column
                        .ui.basic.segment
                            .three.wide.fluid.column
                                .ui.fluid.text.vertical.menu
                                    .item
                                        .header Applications
                                        .menu
                                            .ui.container
                                                a.item Node.js
                                                    .ui.mini.right.floated.image
                                                        img(src='styles/themes/hasli/assets/images/icons/x-red-icon.svg')
                                            .ui.container
                                                a.item MongoDb
                                                    .ui.mini.right.floated.image
                                                        img(src='styles/themes/hasli/assets/images/icons/x-red-icon.svg')
                    .thirteen.wide.column
                        .ui.container.grid
                            .row
                                .column
                                    .ui.basic.segment
                                        h3.ui.left.floated.header
                                            | Upload Files
                                    .ui.center.aligned.basic.segment(style='border-style:dashed; border-width:1px; border-color: #979797;')
                                        img(src='styles/themes/hasli/assets/images/icons/plus-green-icon.svg')
                                        .content
                                            .sub.header Drag and drop your files here or
                                        .ui.hidden.divider
                                        .ui.small.basic.primary.button
                                            | Browse
                            .two.column.row
                                .thirteen.wide.column
                                    .ui.basic.segment
                                        .ui.form
                                            h3.ui.header Add Github Repository
                                            .field
                                                label Repository URL
                                                input(type='text', name='', placeholder='url')
                                            .field
                                                label Credentials
                                                select.ui.fluid.dropdown
                                                    option(value='') credentials
                                                    option(value='NEW') + create new credentials
                                            .field
                                                label branch
                                                select.ui.fluid.dropdown
                                                    option(value='master') master
                                            .field
                                                .ui.right.floated.basic.primary.button
                                                    | Add
                                .two.wide.center.aligned.column
                                    i.massive.github.icon
                            .row
                                .column
                                    .ui.basic.segment
                                        h3.ui.left.floated.header
                                            | All Files
                                        .ui.right.floated.horizontal.list
                                            .item
                                                a.content + CREATE NEW DIRECTORY
                                            .item
                                                a.content + CREATE NEW FILE
                                    table.ui.bottom.attached.files.single.line.unstackable.selectable.very.basic.table
                                        tbody
                                            tr
                                                td.single.line.five.wide
                                                    i.blue.folder.icon
                                                    a(href='#')
                                                        | dist
                                                td Build 2.0.7
                                                td.right.aligned.collapsing 5 days ago
                                            tr
                                                td
                                                    i.blue.folder.icon
                                                    a(href='#')
                                                        | examples
                                                td Update homepage.html
                                                td.right.aligned 5 days ago
                                            tr
                                                td
                                                    i.blue.folder.icon
                                                    a(href='#')
                                                        | src
                                                td Clean up logic in onComplete
                                                td.right.aligned 5 days ago
                                            tr
                                                td
                                                    i.blue.folder.icon
                                                    a(href='#')
                                                        | docs
                                                td Initial commit
                                                td.right.aligned 5 days ago
                                            tr
                                                td
                                                    i.blue.folder.icon
                                                    a(href='#')
                                                        | tasks
                                                td Updated browser prefix config
                                                td.right.aligned 5 days ago
                                            tr
                                                td
                                                    i.blue.folder.icon
                                                    a(href='#')
                                                        | test
                                                td  Restructure test/ for meteor #1607
                                                td.right.aligned 10 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | .csscomb.json
                                                td Iteration on regex for comment replacement
                                                td.right.aligned 10 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | .csslintrc
                                                td Add csslintrc
                                                td.right.aligned 5 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | CONTRIBUTING.md
                                                td Update CONTRIBUTING.md
                                                td.right.aligned 8 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | LICENSE.md
                                                td Remove execute permission
                                                td.right.aligned 7 days ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | README.md
                                                td Update README.md
                                                td.right.aligned 7 days ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | RELEASE-NOTES.md
                                                td Fix date
                                                td.right.aligned 7 days ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | bower.json
                                                td main: semantic.css => semantic.less
                                                td.right.aligned 3 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | composer.json
                                                td #1853 Fix some composer.json fields
                                                td.right.aligned 5 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | gulpfile.js
                                                td Update gulpfile
                                                td.right.aligned 4 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | karma.conf.js
                                                td Remove execute permission.
                                                td.right.aligned 8 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | logo.png
                                                td Remove execute permission.
                                                td.right.aligned 8 months ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | package.json
                                                td Build 2.0.7
                                                td.right.aligned 5 days ago
                                            tr
                                                td
                                                    i.grey.file.outline.icon
                                                    a(href='#')
                                                        | semantic.json.example
                                                td Fix admin flag set in example json! #2453
                                                td.right.aligned 28 days ago
        .actions
            .ui.right.icon.primary.button(type='button', click.delegate='step("second")')
                | Previous
            .ui.right.icon.primary.button(type='button', click.delegate='step("fourth")')
                | Next
    .ui.large.fourth.coupled.modal.transition
        i.close.icon
        .ui.center.aligned.header
            | APPLICATION CONFIGURATION
        .content
            .ui.internally.celled.grid
                .row
                    .three.wide.fluid.column
                        .ui.basic.segment
                            .three.wide.fluid.column
                                .ui.fluid.text.vertical.menu
                                    .item
                                        .header Applications
                                        .menu
                                            .ui.container
                                                a.item Node.js
                                                    .ui.mini.right.floated.image
                                                        img(src='styles/themes/hasli/assets/images/icons/x-red-icon.svg')
                                            .ui.container
                                                a.item MongoDb
                                                    .ui.mini.right.floated.image
                                                        img(src='styles/themes/hasli/assets/images/icons/x-red-icon.svg')
                    .thirteen.wide.column
                        .ui.container
                            .ui.internally.celled.grid
                                .row
                                    .ui.fluid.styled.accordion
                                        .title
                                            i.dropdown.icon
                                            .ui.tiny.image
                                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
                                        .content
                                            .ui.container
                                                .ui.pointing.secondary.tabular.menu
                                                    a.active.item(data-tab="general")
                                                        | General
                                                    a.item(data-tab="ports")
                                                        | Ports
                                                    a.item(data-tab="volumes")
                                                        | Volumes
                                                    a.item(data-tab="container-advanced")
                                                        | Advanced
                                                .ui.active.tab(data-tab='general')
                                                    .ui.basic.segment
                                                        .ui.grid
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Name
                                                            .two.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="nodejs")
                                                                    .ui.fitted.divider
                                                                .two.wide.column
                                                                    .ui.small.basic.primary.button
                                                                        | Save
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Environment Variables
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="PATH")
                                                                    .ui.fitted.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/nodejs/bin")
                                                                    .ui.fitted.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="key")
                                                                    .ui.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="value")
                                                                    .ui.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                                                            .row
                                                                .column
                                                                    .ui.small.basic.primary.button
                                                                        | Delete Application
                                                .ui.tab(data-tab='ports')
                                                    .ui.basic.segment
                                                        .ui.grid
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Port Settings
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="9000")
                                                                    .ui.fitted.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="10.238.0.53:8080")
                                                                    .ui.fitted.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="port")
                                                                    .ui.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="ip:port")
                                                                    .ui.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                                                .ui.tab(data-tab='volumes')
                                                    .ui.basic.segment
                                                        .ui.grid
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Volumes
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="/usr/src")
                                                                    .ui.fitted.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="/root/")
                                                                    .ui.fitted.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="local folder")
                                                                    .ui.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="docker folder")
                                                                    .ui.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                                                .ui.tab(data-tab='container-advanced')
                                                    .ui.form
                                                        h4.ui.dividing.header General Information
                                                        .field
                                                            .ui.checkbox
                                                                input.hidden(type='checkbox', tabindex='0')
                                                                label Some Advanced Setting 1
                                                        .field
                                                            .ui.checkbox
                                                                input.hidden(type='checkbox', tabindex='0')
                                                                label Some Advanced Setting 1
                                                        button.ui.basic.primary.button(type='submit') Save
                                    .ui.fluid.styled.accordion
                                        .title
                                            i.dropdown.icon
                                            .ui.tiny.image
                                                img(src='styles/themes/hasli/assets/images/logos/mongodb-logo.svg')
                                        .content
                                            .ui.container
                                                .ui.pointing.secondary.tabular.menu
                                                    a.active.item(data-tab="general")
                                                        | General
                                                    a.item(data-tab="ports")
                                                        | Ports
                                                    a.item(data-tab="volumes")
                                                        | Volumes
                                                    a.item(data-tab="container-advanced")
                                                        | Advanced
                                                .ui.active.tab(data-tab='general')
                                                    .ui.basic.segment
                                                        .ui.grid
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Name
                                                            .two.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="mongodb")
                                                                    .ui.fitted.divider
                                                                .two.wide.column
                                                                    .ui.small.basic.primary.button
                                                                        | Save
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Environment Variables
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="PATH")
                                                                    .ui.fitted.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/nodejs/bin")
                                                                    .ui.fitted.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="key")
                                                                    .ui.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="value")
                                                                    .ui.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                                                            .row
                                                                .column
                                                                    .ui.small.basic.primary.button
                                                                        | Delete Application
                                                .ui.tab(data-tab='ports')
                                                    .ui.basic.segment
                                                        .ui.grid
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Port Settings
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="9000")
                                                                    .ui.fitted.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="10.238.0.53:8080")
                                                                    .ui.fitted.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="port")
                                                                    .ui.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="ip:port")
                                                                    .ui.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                                                .ui.tab(data-tab='volumes')
                                                    .ui.basic.segment
                                                        .ui.grid
                                                            .row
                                                                .fourteen.wide.column
                                                                    h5.ui.header
                                                                        | Volumes
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="/usr/src")
                                                                    .ui.fitted.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" value="/root/")
                                                                    .ui.fitted.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                                                            .three.column.row
                                                                .four.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="local folder")
                                                                    .ui.divider
                                                                .ten.wide.column
                                                                    .ui.transparent.input
                                                                        input(type="text" placeholder="docker folder")
                                                                    .ui.divider
                                                                .one.wide.column
                                                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                                                .ui.tab(data-tab='container-advanced')
                                                    .ui.form
                                                        h4.ui.dividing.header General Information
                                                        .field
                                                            .ui.checkbox
                                                                input.hidden(type='checkbox', tabindex='0')
                                                                label Some Advanced Setting 1
                                                        .field
                                                            .ui.checkbox
                                                                input.hidden(type='checkbox', tabindex='0')
                                                                label Some Advanced Setting 1
                                                        button.ui.basic.primary.button(type='submit') Save
        .actions
            .ui.right.icon.primary.button(type='button', click.delegate='step("third")')
                | Previous
            .ui.right.icon.primary.button(type='button', click.delegate='step("fifth")')
                | Next
    .ui.small.fifth.coupled.modal.transition
        i.close.icon
        .ui.center.aligned.header
            | MINIMUM SYSTEM REQUIREMENTS
        .content
            .ui.form
                h4.ui.dividing.header General Information
                .field
                    label Memory
                    .field
                        input(type='text', name='shipping[first-name]', placeholder='name')
                .field
                    label CPU
                    .field
                        input(type='text', name='shipping[address]', placeholder='CPU')
                .field
                    label Storage
                    select.ui.fluid.dropdown
                        option(value='') storage
                        option(value='CO') 50gb
                h4.ui.dividing.header Add Providers
                .field
                    label Provider
                    select.ui.fluid.dropdown
                        option(value='') provider
                        option(value='CO') Amazon Web Services
                        option(value='CO') VMware
                        option(value='CO') Azure
        .actions
            .ui.right.basic.primary.button(type='button', click.delegate='step("finish")')
                | Skip
            .ui.right.icon.primary.button(type='button', click.delegate='step("fourth")')
                | Previous
            .ui.right.primary.button(type='button', click.delegate='step("finish")')
                | Next
    .ui.small.finish.coupled.modal.transition
        i.close.icon
        .ui.center.aligned.header
            | Summary
        .content
            .ui.form
                .field
                    label Name
                    .field
                        input(type='text', name='shipping[first-name]', value='Workspace Name')
                .field
                    label Version
                    .field
                        input(type='text', name='shipping[address-2]', value='1.0.0')
                .field
                    label Tag
                    .field
                        input(type='text', name='shipping[address-2]', value='dev')
        .actions
            .ui.right.green.button(type='button', click.delegate='submit()')
                | Create
    .ui.small.create.coupled.modal.transition
        i.close.icon
        .ui.center.aligned.header
            | CREATE NEW APPLICATION
        .content
            .ui.basic.segment
                h3.ui.left.floated.header
                    | Upload Application
            .ui.center.aligned.basic.segment(style='border-style:dashed; border-width:1px; border-color: #979797;')
                img(src='styles/themes/hasli/assets/images/icons/plus-green-icon.svg')
                .content
                    .sub.header Drag and drop your files here or
                .ui.hidden.divider
                .ui.small.basic.primary.button
                    | Browse
        .actions
            .ui.right.primary.button(type='button', click.delegate='step("second")')
                | Cancel
            .ui.right.primary.button(type='button', click.delegate='step("second")')
                | Done
