template
    .ui.sub.header Selection
    select.ui.fluid.normal.dropdown(multiple='', name='skills')
        option(value='') Skills
        option(value='angular') Angular
        option(value='css') CSS
        option(value='design') Graphic Design
        option(value='ember') Ember
        option(value='html') HTML
        option(value='ia') Information Architecture
        option(value='javascript') Javascript
        option(value='mech') Mechanical Engineering
        option(value='meteor') Meteor
        option(value='node') NodeJS
        option(value='plumbing') Plumbing
        option(value='python') Python
        option(value='rails') Rails
        option(value='react') React
        option(value='repair') Kitchen Repair
        option(value='ruby') Ruby
        option(value='ui') UI Design
        option(value='ux') User Experience

