template
    .ui.card
        .content
            .right.floated.meta 14h
            img.ui.avatar.image(src='/images/avatar/large/elliot.jpg')
            |  Elliot
        .image
            img
        .content
            span.right.floated
                i.heart.outline.like.icon
                |       17 likes
            i.comment.icon
            |     3 comments
        .extra.content
            .ui.large.transparent.left.icon.input
                i.heart.outline.icon
                input(type='text', placeholder='Add Comment...')
