template
    require(from="charts/container/container")
    require(from="./selector/selector")
    section.content-banner
        ul.breadcrumb
            li
                a(href="#") Network
            li
                a(href="#") ${node.id}
            li
                a(href="#") Metrics

    section.content.dark
        div.section-header.large
            span.ion-ios-analytics-outline
            | Analytics
            chart-selector(chart-selected.delegate="openChart($event)")
        div.container-fluid(ref="grid").grid
            div(repeat.for="chart of charts", id.bind="chart").col-xs-6.grid-item.graph-host
                container
