template
    .ui-form
        .field.overlay-field
            .overlay-label
                label Cloud Name
            .ui.input.overlay-input
                input(type="text" name="name" value.bind="cloud.name")
            .overlay-help
                i.icon.help.circle.outline.large