template
    .ui.grid
        .thirteen.wide.middle.aligned.column
            //todo make sure this gets a class as needed (success, error, warning)
            .ui.tiny.progress.inverted
                .label
                    | ${activity.status}
                .bar
                    .progress
        .one.wide.middle.aligned.column
            i.red.ion-close-round.icon(if.bind="activity.status == 'in progress'" click.delegate="stopActivity()")
            i.green.ion-checkmark-round.icon(if.bind="activity.status == 'done'")
            i.blue.ion-refresh.icon(if.bind="activity.status == 'stopped'" click.delegate="retryActivity()")