//
   Created by dustinlish on 3/5/17.

template
    table.ui.striped.table
        thead
            tr
                th
                th Version
                th Description
                th Author
                th Created At
        tbody
            tr
                td
                    .ui.radio.checkbox
                        input(type='radio', name='example2', checked='checked')
                        label
                td 4.0.0
                td commit message
                td Dustin Lish
                td 03/05/2017
            tr
                td
                    .ui.radio.checkbox
                        input(type='radio', name='example2', checked='checked')
                        label
                td 3.0.0
                td commit message
                td Dustin Lish
                td 03/05/2017
            tr
                td
                    .ui.radio.checkbox
                        input(type='radio', name='example2', checked='checked')
                        label
                td 2.0.0
                td commit message
                td Dustin Lish
                td 03/05/2017
            tr
                td
                    .ui.radio.checkbox
                        input(type='radio', name='example2', checked='checked')
                        label
                td 1.1.0
                td commit message
                td Dustin Lish
                td 03/05/2017
            tr
                td
                    .ui.radio.checkbox
                        input(type='radio', name='example2', checked='checked')
                        label
                td 1.0.0
                td commit message
                td Dustin Lish
                td 03/05/2017
    .ui.segment
        h3.ui.dividing.header Changes