template
    .designer-editor-panel(if.bind="active")
        .designer-header
            a.material-icons.mdi.mdi-cloud.active
            a.material-icons.mdi.mdi-lan
            a.material-icons.mdi.mdi-lock
            a.material-icons.mdi.mdi-database
            a.material-icons.mdi.mdi-animation