template(bindable="router")
    .ui.center.aligned.grid(style="margin-top:1em; margin-bottom:1em;")
        .column.five.wide
            .ui.image.large
                img(src="./styles/themes/hasli/assets/images/logos/hasli-logo.svg").image
            .ui.hidden.divider
            .ui.fitted.divider
            .ui.two.item.secondary.pointing.menu
                a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
                    | ${row.title}
            .ui.hidden.divider
