<Configuration>

    <Loggers>
        <Logger name="io" level="info" additivity="false">
            <AppenderRef ref="Routing" />
        </Logger>
    </Loggers>

    <Appenders>
        <Routing name="Routing">

            <Routes pattern="$${ctx:REGION}">

                <!-- This route is chosen if ThreadContext has value 'special' for key REGION. -->
                <Route key="special">
                    <RollingFile name="Rolling-${ctx:REGION}" fileName="logs/special-${ctx:REGION}.log"
                                 filePattern="./logs/${date:yyyy-MM}/${ctx:REGION}-special-%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout>
                            <pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                            <SizeBasedTriggeringPolicy size="10 MB"/>
                        </Policies>
                    </RollingFile>
                </Route>

                <!-- This route is chosen if ThreadContext has no value for key REGION. -->
                <Route key="$${ctx:REGION}">
                    <RollingFile name="Rolling-default" fileName="logs/default.log"
                                 filePattern="./logs/${date:yyyy-MM}/default-%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout>
                            <pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                            <SizeBasedTriggeringPolicy size="10 MB"/>
                        </Policies>
                    </RollingFile>
                </Route>

                <!-- This route is chosen if ThreadContext has a value for REGION
                     (other than the value 'special' which had its own route above).
                     The value dynamically determines the name of the log file. -->
                <Route>
                    <RollingFile name="Rolling-${ctx:REGION}" fileName="logs/${ctx:REGION}.log"
                                 filePattern="./logs/${date:yyyy-MM}/${ctx:REGION}-other-%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout>
                            <pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                            <SizeBasedTriggeringPolicy size="10 MB"/>
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
</Configuration>
