template
    .header
        | New Layer
    .image.content
        .description
            .ui.form
                .field
                    label Name
                    input(type='text', name='name', value.bind="current.name")
                .field
                    label Description
                    input(type='text', name='name', value.bind="current.description")
    .actions
        .ui.black.deny.button
            | Cancel
        .ui.positive.right.labeled.icon.button(click.delegate="save()")
            | Save
            i.checkmark.icon