@import "../../assets/styles/variables";

.node-context {

  margin-left:0px;
  margin-top:50px;
  position:relative;
  height:100%;

}

div.node-info-content {
  div.below-breadcrumb {
    margin-top:36px;
    right:36px;
  }
  .section-header {
    margin-bottom:8px;
    height:48px;
    line-height:48px;
    vertical-align:middle;
  }
}
section.content {
  overflow-y:auto;
  .section-header {
    span {
      margin-right:8px;
    }
    span.no-pad {
        margin:0 !important;
    }
  }
}



.light {
  background-color:#45494A !important;
}
.dark {
  background-color:$darkGrey !important;
}

