.auth-side {
  background: $almostblack;
  width: 35%;
  top:0;
  left:0;
  bottom:0;
  position:absolute;
  box-sizing:border-box;
}

.auth-main {
  padding: 150px 300px 150px 150px;
  box-sizing:border-box;
  width:65%;
  top:0;
  right:0;
  bottom:0;
  position:absolute;
}

.auth-toggle {
  text-align: right;

  .btn-flat {
    margin-left: 1em;
  }
}

h1 {
  margin:3rem 0 3rem 0;
}

.auth-submit {
  text-align:center;
}