$card-margin-left: 20px;
$card-margin-right: 40px;
$card-content-height: 100px;
$card-border-width: 1px;
$card-border-style: $card-border-width solid $border-color;


//.card
//  summary-icon(text="Default Workspace" textColor="#239ae8" fill="white" size="40")
//  .card-expand
//    i.material-icons.mdi.mdi-dots-vertical
//  .card-content
//    h2 Default Workspace
//    p Actual content goes here. Gastropub blog portland ugh dolore, nesciunt ethical in exercitation placeat magna voluptate. Organic adipisicing poutine narwhal polaroid qui coloring book edison bulb.
//  .card-extra.active
//    p Paleo flannel gentrify banh mi stumptown craft beer marfa church-key aliquip, placeat pariatur williamsburg normcore selvage. Nisi waistcoat flexitarian cray XOXO.
//  .card-contract
//    i.material-icons.mdi.mdi-dots-vertical

.card {
  box-shadow:none;
  border: $card-border-style;
  border-radius:0;
  position:relative;
  //margin: 20px $card-margin-right 20px $card-margin-left;
  box-sizing: border-box;


  //.summary-icon {
  //  position: absolute;
  //  left: -$card-margin-left;
  //  top: ($card-content-height/2) - $card-margin-left;
  //}
  //
  //h2 {
  //  font-size: 1.5rem;
  //  line-height: 1rem;
  //  margin: 0 0 .5rem 0;
  //}
  //
  //.card-content, .card-extra {
  //  height: $card-content-height;
  //  box-sizing: border-box;
  //}
  //
  //.card-content {
  //  padding: $card-margin-left $card-margin-left $card-margin-left ($card-margin-left*2);
  //}
  //
  //.card-extra {
  //  display: none;
  //  border-top: $card-border-style;
  //  padding: $card-margin-left ($card-margin-left + $card-margin-right) $card-margin-left $card-margin-left;
  //  position: relative;
  //
  //  &.active {
  //    display: block;
  //  }
  //
  //}
  //
  //.card-expand, .card-contract {
  //  position: absolute;
  //  width: $card-margin-right;
  //
  //  i.material-icons {
  //    font-size:25px;
  //    position: absolute;
  //    left: $card-margin-right/5;
  //  }
  //}
  //
  //.card-expand {
  //  background: $lightgrey;
  //  top: -$card-border-width;
  //  height: $card-content-height + ($card-border-width*2);
  //  right: -$card-margin-right;
  //
  //  i.material-icons {
  //    color: white;
  //    top: ($card-content-height + ($card-border-width*2))/2.75;
  //  }
  //}
  //
  //.card-contract {
  //  background: $offwhite;
  //  height: $card-content-height - $card-border-width;
  //  top: 0;
  //  right: 0;
  //
  //  i.material-icons {
  //    color: $lightgrey;
  //    top: $card-content-height/2.75;
  //  }
  //}

  //todo handle side panel open

  .card-content {
    padding: $standard-padding;
    //position: relative;
    min-height: 90px + $standard-padding*2;

    .card-icon {
      width: 90px;
      float: left;

      @media #{$small-and-down} {
        width: auto;
        float: none;
        text-align: center;
      }
    }

    .card-title {
      font-weight:400;
      margin: 0;
      float: left;
      padding: 30px $standard-padding 0 $standard-padding;
      box-sizing: border-box;
      width: -webkit-calc(100% - 180px);
      width: -moz-calc(100% - 180px);
      width: calc(100% - 180px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media #{$small-and-down} {
        width: 100%;
        float: none;
        text-align: center;
        padding: $standard-padding;
      }
    }

    .card-button {
      width: 90px;
      float: right;
      padding-top: 30px;

      @media #{$small-and-down} {
        width: 100%;
        float: none;
        padding-top: 0;
      }

      .btn {
        border-radius:0;
        box-shadow:none;
        font-size:.75rem;
        height:30px;
        line-height:30px;
        padding: 0 1.5rem;
        background: $primary-color;


        @media #{$small-and-down} {
          display: block;
          width: 100%;
        }

      }
    }
  }


  //todo row-ify
  .card-action {
    border-top: $default-border;
    background-color: #eceff1; //blue-grey lighten-5
    color: #90a4ae; //blue-grey lighten-2
    padding: 10px 20px;
    font-size: .75rem;
    position: relative;

    .chip {
      margin: 0;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
      color: white;
      border-radius: 5px;
      font-weight: 400;
      letter-spacing: 1px;
      width: 90px;
      text-align: center;

      &.state-good {
        @extend .light-green
      }

      &.state-pending {
        @extend .amber
      }

      &.state-bad {
        @extend .red, .darken-4
      }
    }

    .version {
      float: right;
      line-height: 20px;
      letter-spacing: 1px;
    }

  }

}