$designer-header-height: 40px;

.designer-container {
  position:absolute;
  top:0;
  left:$small-nav-width;
  bottom:0;
  right:0;
  box-sizing: border-box;

  .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $body-panel-width;
    box-sizing: border-box;
    background: white;

    &.right {
      border-left: $default-border;
      right: 0;
    }

    &.left {
      border-right: $default-border;
      left: 0;
    }

    //don't use an h1. but if you do ...
    h1, h2, h3, h4, h5, h6 {
      color: $primary-color;
      font-size: 15px;
      margin: 0;
    }

    .designer-panel-header {
      height: $designer-header-height;
      box-sizing: border-box;
      line-height: $designer-header-height;
      border-bottom: $default-border;
      padding: 0 $standard-padding;
      position: relative;

      h1, h2, h3, h4, h5, h6 {
        color: $almostblack;
        line-height: $designer-header-height;
        font-weight: 400;
      }

      .material-icons.mdi-plus {
        color: $secondary-color;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      &.icon-menu {
        text-align: center;

        .material-icons {
          padding: 0 .25em;
          color: $almostblack;
          font-size: 20px;

          &.active {
            color: $primary-color;
          }
        }
      }

    }

  }

}

.designer-panel-body {

  .collapsible {

    .collapsible-header {
      min-height: 2rem;
      line-height: 2rem;
      position: relative;
      padding: 0 $standard-padding;

      i.material-icons {
        color: $lightgrey;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
      }
    }

    .has-collapsible {
      padding: 0;
      border-bottom: none;
    }

    .collapsible-body .collapsible-header {
      padding-left: $standard-padding*2;
    }

    .collapsible-body .collapsible-body .collapsible-header {
      padding-left: $standard-padding*3;
    }

    //todo adjust padding

  }





}

.designer-menu-bar {
  background: white;
  top: 0;
  right: 0;
  left: $small-nav-width;
  height: $designer-header-height;
  box-sizing: border-box;
  border-bottom: $default-border;
  padding-right: $body-panel-width;
  padding-left: $side-nav-width;
  line-height: $designer-header-height;

  .template-info {
    position: absolute;
    top: 0;
    left: $body-panel-width + $standard-padding;
    bottom: 0;
    color: $almostblack;
    cursor: pointer;
  }

  .tab-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin:0;
    .tab {
      width: $designer-header-height;
      border-bottom: $default-border;
      height: $designer-header-height;
      box-sizing: border-box;
      text-align: center;
      display: inline-block;
      margin:0 1em;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid $primary-color;
        .material-icons {
          color: $primary-color;
        }
      }
      .material-icons {
        font-size: 35px;
        color: $midgrey;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .utilities {
    position: absolute;
    top: 0;
    right: $body-panel-width + $standard-padding;
    bottom: 0;
    .material-icons {
      color: $lightgrey;
      font-size: 30px;
      padding-left: .25em;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }

}