input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.col.input-field:first-child {
  padding-left: 0;

  label {
    left: 0;
  }
}

.col.input-field:last-child {
  padding-right:0;
}