input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $default-background-color inset !important;
}

.col.input-field:first-child {
  padding-left: 0;

  label {
    left: 0;
  }
}

.col.input-field:last-child {
  padding-right:0;
}

form {
  background: white;
}

.button-holder {
  padding-top: $standard-padding;
  text-align: center;
}

.body-content form, .modal form {
  @extend .z-depth-1;
}


.form-message {
  padding: $standard-padding;
  margin: $standard-padding 0;

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5, h6 {
    font-size: 1.1rem;
  }

  &.success {
    border: 1px solid $success-color;
    background: $success-color;
  }

  &.error {
    border: 1px solid $error-color;
    background: lighten($error-color, 50%);
  }
}