body {
  background: $offwhite;
  overflow: hidden !important;
  width: 100% !important;
}

.body {
  position: absolute;
  left: 0;
  right: 0;
  top: $navbar-height;
  bottom: 0;

  padding-left: $small-nav-width;
  //margin-top: $navbar-height;
  //position: relative;
  box-sizing: border-box;
  //width:100%;
  //height: -webkit-calc(100% - #{$navbar-height});
  //height: -moz-calc(100% - #{$navbar-height});
  //height: calc(100% - #{$navbar-height});

  @media #{$medium-and-down} {
    top: $navbar-height-mobile;
  }
}

.body-content {
  padding: $standard-padding;
  margin-right: $body-panel-width;

  &.body-content-full {
    margin-right: 0;
  }
}

.body-panel {
  position: absolute;
  right:0;
  width: $body-panel-width;
  top: 0;
  bottom: 0;
  padding: $standard-padding;
  box-sizing: border-box;
  border-left: 1px solid $border-color;
  background: white;

  .body-panel-top, .body-panel-bottom {
    box-sizing: border-box;
    height: 50%;
  }
  .body-panel-top {
    border-bottom: 1px solid $border-color;
    padding-bottom: $standard-padding;
  }
  .body-panel-bottom {
    padding-top: $standard-padding;
  }
}

.fullscreen {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .preloader-wrapper {
    width:64px;
    height:64px;
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.dropdown-content li  {
  color: $midgrey;
  padding: 8px 16px;
  min-height: 0;

  &.divider {
    padding:0;
  }

  & > .mdi {
    color: inherit;
    display: inline;
    padding:0;
    margin-right: .5em;
  }
}


.collapsible .dropdown-icon {
  position:absolute;
  right:0;
  top: 0;
}

.collapsible .active .dropdown-icon {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}