body {
  background: $offwhite;
  overflow: hidden !important;
  width: 100% !important;
}

.body {
  position: absolute;
  left: $small-nav-width;
  right: 0;
  top: $navbar-height;
  bottom: 0;
  overflow-y: auto;

  @media #{$medium-and-down} {
    top: $navbar-height-mobile;
  }
}

.body-content {
  padding: $standard-padding;
  margin-right: 0;

  &.with-tabs {
    padding: $standard-padding 0;

    h1 {
      padding-left: $standard-padding;
    }

    //todo fix tabs on $medium-and-down

    .body-tab-holder {
      padding: $standard-padding;
    }

    .body-tab-menu {
      border-bottom: $default-border;
      padding-left: $standard-padding;
      padding-right: $standard-padding + 40px;
      position: relative;

      .btn-floating {
        position: absolute;
        right: $standard-padding;
        bottom: -$standard-padding;
        background: $primary-color;
      }

      .tabs {
        background-color: transparent;
      }

      li.tab {
        text-transform: none;
        margin: 0 $standard-padding;

        a {
          color: $midgrey;
          font-size: 12px;
          padding: 0;

          &.active {
            font-weight: 500;
          }

          .badge {
            background-color: $secondary-color;
            border-radius: 8px;
            margin-top: 14px;
            color: white;
            font-size: 0.7rem;
            min-width: 0;
            line-height: 18px;
            height: 18px;
            padding: 0 8px;
          }

        }
      }
    }
  }

  @media #{$medium-and-down} {
    margin-right: $body-panel-width - $navbar-height;
  }

  &.body-content-partial {
    margin-right: $body-panel-width;
  }
}

.body-panel {
  position: absolute;
  right:0;
  width: $body-panel-width;
  top: 0;
  bottom: 0;
  padding: $standard-padding;
  box-sizing: border-box;
  border-left: $default-border;
  background: white;

  @media #{$medium-and-down} {
    width: $body-panel-width - $navbar-height;
  }

  .body-panel-top, .body-panel-bottom {
    box-sizing: border-box;
    height: 50%;
  }
  .body-panel-top {
    border-bottom: $default-border;
    padding-bottom: $standard-padding;
  }
  .body-panel-bottom {
    padding-top: $standard-padding;
  }
}

.fullscreen{
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;

  &.loader {
    z-index: 2000;
    background: $offwhite;
    opacity: .75;
    padding: 25% 25% 0 25%;
    text-align: center;
  }
}

.dropdown-content li  {
  color: $midgrey;
  padding: 8px 16px;
  min-height: 0;

  &.divider {
    padding:0;
  }

  & > .mdi {
    color: inherit;
    display: inline;
    padding:0;
    margin-right: .5em;
  }
}

.collapsible {
  border: none;
  margin:0;

  @extend .z-depth-0;

  .collapsible .dropdown-icon {
    position:absolute;
    right:0;
    top: 0;
  }

  //.dropdown-icon {
  //  position:absolute;
  //  right:0;
  //  top: 0;
  //}

  .active > .dropdown-icon:before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.5rem;
}

.util-top-slot {
  border-bottom: $default-border;
  height: 50%;
  box-sizing: border-box;
}

.util-bottom-slot {
  height: 50%;
  box-sizing: border-box;
}

.util-full-slot {}


a.create-link {
  color: $midgrey;
  margin-top: 1em;
  font-size: 13px;
  display: block;

  i.material-icons {
    color: $primary-color;
    margin-right: .5em;
    font-size: 20px;
    line-height: 13px;
    vertical-align: middle;
  }
}

.loader-holder {
  position: relative;
  min-height: 100px;

  .loader {
    padding-top: $standard-padding;
  }
}

table {
  margin-bottom: $standard-padding;

  td, th {
    padding: 10px;
  }

  th {
    font-weight: 400;
    color: $midgrey;
  }
}