


nav {
  background-color: $offwhite;
  position:absolute;
  left:$small-nav-width;
  top:0;
  right:0;
  border-bottom: $default-border;

  @extend .z-depth-0;

  .nav-wrapper {
    width: 100%;
  }

  i, [class^="mdi-"], [class*="mdi-"], i.material-icons {
    display: inline-block;
  }

  .brand-logo {
    height: $navbar-height;
    line-height: $navbar-height;
    box-sizing: border-box;
    padding-left: $standard-padding;
    font-weight: 300;

    @media #{$medium-and-down} {
      left: auto;
      transform: none;
    }

    .breadcrumb {
      font-size: 1rem;
      vertical-align: middle;
      color: $midgrey;

      @media #{$small-and-down} {
        display: none;
      }

      &:first-child {
        font-size: 1.25rem;
      }

      &:last-child {
        color: $primary-color;
      }

      &:before {
        font: inherit;
        content: "/";
        font-size: 20px;
        margin: -3px 0 0 0 !important;
        padding: 0 .25em;
        color: $midgrey !important;
        vertical-align:middle;
      }
    }

  }

  ul.user-menu {
    width: $body-panel-width;
    margin-right: $navbar-height; //fixes weirdness with float

    @media #{$medium-only} {
      width: $body-panel-width - $navbar-height;
    }
    @media #{$small-and-down} {
      width: auto;
    }


    & > li {
      box-sizing: border-box;
      height: $navbar-height;
      cursor: pointer;
      color: white;
      text-align: center;

      &.dropdown-tab {
        width: $body-panel-width - ($navbar-height*2);
        background: $primary-color;

        @media #{$small-and-down} {
          width: $navbar-height*2;
        }

        i.material-icons.profile-image {
          display: none;

          @media #{$small-and-down} {
            display: inline;
          }
        }

        span {
          @media #{$small-and-down} {
            display: none;
          }
        }

      }

      &.alert-tab, &.user-tab {
        width: $navbar-height;
        text-align: center;
        background: $primary-color-dark;
      }

      &.user-tab {
        @media #{$medium-and-down} {
          display: none;
        }
      }

      i.material-icons {
        vertical-align: middle;
        font-size: 20px;
      }
    }

    ul.dropdown-content {
      @media #{$small-and-down} {
        width: $navbar-height*3 !important;
        left: auto !important;
        right: 0 !important;
      }

      li i.material-icons {
        height: auto;
        line-height: inherit;
        vertical-align: middle;
      }

    }
  }

}