nav ul a:hover {
  background-color: inherit;
}

nav {
  background-color: white;
  box-shadow:none;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: auto;
  line-height: inherit;
  display: inline;
}

nav .brand-logo {
  height: $navbar-height;
  box-sizing: border-box;

  @media #{$medium-and-down} {
    height: $navbar-height-mobile;
  }
}

nav .brand-logo img {
  height: $navbar-height - $navbar-font-size;
  margin-top: ceil($navbar-font-size/2);
  margin-left: ceil($navbar-font-size/2);

  @media #{$medium-and-down} {
    height: $navbar-height-mobile - $navbar-font-size;
    margin-left: 0;
  }
}