$small-nav-width: $navbar-height; //setting it to navbar height makes it align nicely with the logo

.side-nav-small {
  background: $sidenav-bg-color;
  position:absolute;
  top: 0;
  left:0;
  bottom:0;
  margin:0;
  width:$small-nav-width;
  overflow:hidden;

  li {
    text-align: center;

    &.side-nav-header {
      height: $small-nav-width;
      line-height: $small-nav-width;

      .mdi {
        font-size: 35px;
      }
    }

    a {
      color: white;
      font-size: 10px;
    }

    .summary-icon {
      margin-top: $sidenav-font-size/2;
      margin-bottom: $sidenav-font-size/2;
    }
  }

  .side-nav-header {
    cursor: pointer;
  }

}

.side-nav, .side-nav-small {

  li {
    margin-bottom:20px;
  }

  .mdi {
    font-size: $default-icon-size;
    color: $sidenav-font-color;
  }

  li.active.default-color {
    background: $secondary-color;
  }
}

.side-nav .mdi {
  margin-right: .5em;
}

.side-nav .collapsible-body {
  background: $sidenav-bg-color;
  color: $sidenav-font-color;
}

.side-nav-header {
  background: #3c3c54;
  height: $navbar-height;
  padding:0 1rem;
  margin-bottom: $navbar-height-mobile/2;

  @media #{$medium-and-down} {
    height: $navbar-height-mobile;
  }

}

$side-nav-search-color: #767593;
.side-nav-toggle {
  border-radius: 3px;
  height: 38px;
  width: 38px;
  position: absolute;
  top: 12px;
  left: 12px;
  background: $side-nav-search-color;
  font-size: 1rem;

  .mdi {
    color: white;
    margin: 0;
    position: absolute;
    top: -5px;
    left: 7px;
  }
}

.side-nav-search {
  position:relative;
  margin: 0 0 0 45px;

  input {
    margin: .75rem 0;
    padding: .5rem 30px .5rem 0;
    height: 2.5rem;
    color: white;
    border-bottom: none !important;
    box-shadow: none !important;
    width:100%;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
      color:$side-nav-search-color;
    }
    &::-moz-placeholder {
      color:$side-nav-search-color;
    }
    &:-ms-input-placeholder {
      color:$side-nav-search-color;
    }
  }
}

.side-nav-search-icon {
  position: absolute;
  right: 0;
  top: 4px;
  color: $side-nav-search-color;
  transition: color .3s;
  margin-right: 0 !important;
}

.side-nav li.dashboard {
  margin-bottom: $navbar-height-mobile/2;

  a .summary-icon {
    margin-top: .5em;
    margin-right: .5em;
    vertical-align: top;
  }
}

.side-nav li > a {
  padding: 0 16px;
}

.side-nav li.create-context {
  position: absolute;
  right: 0;
  bottom: 68px;
  left: 0;
  height: 68px;
  margin-bottom:0;

  a.btn {
    margin: 10px 50px;
    border-radius: 25px;

    &.default-color {
      background: $secondary-color;
    }
  }

}