$almostblack: #171b26;
$logoblue: #239ae8;
//$midgrey: #{map-get($grey, "base")};
$midgrey: #9e9e9e;
$lightgrey: #e0e0e0;
$offwhite: #f5f5f5; //grey lighten-4
$brightgreen: #1EC38A;
$darkblue: #3576B7;

$primary-color: $logoblue;
$secondary-color: $brightgreen;
$primary-color-dark: $darkblue;

$progress-bar-color: $primary-color;
$table-striped-color: $lightgrey;

$navbar-height: 50px;
$navbar-height-mobile: $navbar-height;
$small-nav-width: $navbar-height; //setting it to navbar height makes it align nicely with the logo
$body-panel-width: 300px;
$side-nav-width: $body-panel-width - $small-nav-width;

$border-color: $lightgrey;
$default-border: 1px solid $border-color;
$collapsible-border-color: $border-color;

$standard-padding: 20px;

$button-height: 36px;
$button-raised-background: $secondary-color;
$button-flat-color: $primary-color;
$button-radius: $button-height;

$placeholder-text-color: $midgrey;

$input-focus-color: $primary-color;

$sidenav-bg-color: $almostblack;
$sidenav-font-color: white;

$default-icon-size: 24px;

$default-background-color: $offwhite;

$navbar-font-color: $midgrey;

$navbar-font-size: 14px;