//
   Created by dustinlish on 3/27/17.

template
    .header
        .center.aligned
            | NEW VARIABLE
    .content
        .ui.form
            .ui.hidden.divider
            .ui.stackable.grid
                .row.form--field
                    .three.wide.right.aligned.middle.aligned.column
                        .required.field
                            label Type
                    .twelve.wide.column
                        select.ui.fluid.dropdown
                            option(value='password') Password
                            option(value='port') Port
                            option(value='text') Text
                .row.form--field
                    .three.wide.right.aligned.middle.aligned.column
                        .required.field
                            label Name
                    .twelve.wide.column
                        .field
                            input(type='text', placeholder='name')
                .row.form--field
                    .three.wide.right.aligned.middle.aligned.column
                        .required.field
                            label Value
                    .twelve.wide.column
                        .field
                            input(type='text', placeholder='value')
                .row.form--field
                    .three.wide.right.aligned.middle.aligned.column
                    .twelve.wide.column
                        .inline.fields
                            .field
                                .ui.checkbox
                                    input(type='checkbox', name='master')
                                    label Required
                            .field
                                .ui.checkbox
                                    input(type='checkbox', name='master')
                                    label Private
    .actions
        button.ui.right.primary.button(click.delegate="save()")
            | Save