template
    .header Service
    .content
        .ui.form.overlay-form
            .field
                textarea(rows="15" value.bind="service")
            button.ui.button.primary.pull-right(click.delegate="save()") Save