template
    require(from="lib/common/resources/custom-elements/body-panel/body-panel")
    require(from="apps/workspaces/resources/custom-elements/workspace-card/workspace-card")
    .body-content(ref="content")
        .btn-floating.btn-floating-add(ref="createBtn" click.delegate="create()" title="Create a New Workspace")
            i.material-icons.large.mdi.mdi-plus
        h1 Workspaces
        workspace-card(repeat.for="workspace of workspaces" workspace.bind="workspace")
    body-panel(active.bind="panelActive" sections.bind="true" content.bind="content" button.bind="createBtn")