template
    //require(from="lib/common/resources/custom-elements/body-panel/body-panel")
    require(from="apps/workspaces/resources/custom-elements/workspace-card/workspace-card")
    .body-content(ref="content")
        .btn-floating.btn-floating-add(ref="createBtn" click.delegate="create()" title="Create a New Workspace")
            i.material-icons.large.mdi.mdi-plus
        //h1 Workspaces
        loader(if.bind="loading")
        template(if.bind="workspaces.length > 0")
            workspace-card(if.bind="!loading" repeat.for="workspace of workspaces" workspace.bind="workspace")
        template(if.bind="workspaces.length == 0")
            p You have no workspaces. What are you doing? Go boop that plus button and make one!
    //body-panel(active.bind="panelActive" sections.bind="true" content.bind="content" button.bind="createBtn")