template
    .modal-header Cluster Definition
    .row.modal-content
        .modal-nav.col.s12.m4.l3
            ul 
                li 
                    a(click.delegate="showEditor()") Editor
                li
                    a(click.delegate="showProperties()") Properties
        .modal-main.col.s12.m8.l9
            .preloader-wrapper.big.active(show.bind="loading")
                .spinner-layer.spinner-blue-only
                    .circle-clipper.left
                        .circle
                    .gap-patch
                        .circle
                    .circle-clipper.right
                        .circle
            .dialog-editor                
                form(submit.delegate="save()" show.bind="editorVisible")
                    ul#content-type-dropdown.dropdown-content
                        li(repeat.for="definition of contentDefinitions" click.delegate="setContentType(definition)") ${definition.type}
                    div.dialog-editor(ref="editor" show.bind="!loading")
                    .button-holder.row
                        .input-field.col.s4
                            select
                                option bash
                                option ruby
                                option javascript
                            label Type
                        .input-field.col.s4
                            input(type="text")
                            label Name
                        .col-button-holder.col.s4
                            button.waves-effect.btn(type="submit") Save
            div.properties(show.bind="propertiesVisible")
                .button-holder
                    button.waves-effect.btn(type="submit") Save 
