template
    .modal-header Cluster Definition 
    .modal-content
        form(submit.delegate="save()")
            div.dialog-editor(ref="editor")
            .button-holder
                button.waves-effect.btn(type="submit") Save 
