template
    .modal-header Cluster Definition 
    .modal-content
        .dialog-editor(if.bind="loading")
            .preloader-wrapper.big.active
                .spinner-layer.spinner-blue-only
                    .circle-clipper.left
                        .circle
                    .gap-patch
                        .circle
                    .circle-clipper.right
                        .circle

        form(submit.delegate="save()" )
            a.dropdown-button.btn(data-activates="content-type-dropdown") Script Type 
            ul#content-type-dropdown.dropdown-content
                li(repeat.for="definition of contentDefinitions" click.delegate="setContentType(definition)") ${definition.type}
            div.dialog-editor(ref="editor" show.bind="!loading")
            .button-holder
                button.waves-effect.btn(type="submit") Save 
