//
   Created by dustinlish on 11/10/16.
template
    .ui.hidden.divider
    .ui.container
        h1.ui.header
            | Recent Activity
        .ui.image
            img(src="styles/themes/hasli/assets/images/recent-activity.svg")
