template
    require(from="lib/designer/elements/property-panel/property-row")
    .designer-panel-header
        h2 Properties
    .designer-panel-body
        .designer-form
            ul.collapsible.property-collapsible(ref="propertyCollapsible" data-collapsible="expandable")
                li(repeat.for="entity of entities")
                    .collapsible-header
                        | ${entity.title} Properties
                        i.material-icons.mdi.mdi-chevron-right.dropdown-icon
                    .collapsible-body
                        property-row(repeat.for="property of entity.properties"
                            property.bind="property"
                            entity.bind="entity")

            //todo save button or nah?