//
   Created by dustinlish on 2/6/17.
template
    .ui.hidden.divider
    h2.ui.center.aligned.icon.header
        i.circular.red.ion-ios-loop.icon.circular--icon.circular--icon_red
        |   Welcome to Hasli.io! Browse some existing applications or create your own to deploy!
    h4.ui.center.aligned.grey.header
        |   You'll need to add a cloud provider before deploying any applications
