//
   Created by dustinlish on 3/2/17.

template
    .ui.hidden.divider
    .ui.container
        .ui.basic.segment
            h2.ui.header
                .content
                    |   Hosts
        .ui.hidden.divider
        .ui.segment.hasli-incomplete
            h3.ui.header Incomplete Feature
            p This feature has not yet been implemented
