//
   Created by dustinlish on 2/21/17.
template
    .ui.basic.segment
        .ui.grid
            .row
                .eight.wide.column
                    h4.ui.header
                        | Name
                .eight.wide.column
                    h4.ui.header
                        | Registry
            .four.column.row
                .six.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" value="")
                    .ui.fitted.divider
                .two.wide.column
                    .ui.small.basic.primary.button
                        | Save
                .six.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" value="")
                    .ui.fitted.divider
                .two.wide.column
                    .ui.small.basic.primary.button
                        | Save
            .ui.hidden.divider
            .ui.hidden.divider
            .ui.hidden.divider
            .ui.hidden.divider
            .row
                .fourteen.wide.column
                    h4.ui.header
                        | Environment Variables
            .three.column.row
                .five.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" placeholder="key")
                    .ui.divider
                .nine.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" placeholder="value")
                    .ui.divider
                .one.wide.column
                    i.ui.ion-ios-plus-outline.big.green.icon
    //.ui.grid
    //    .four.wide.column
    //        .ui.grid
    //            .row
    //                .column
    //                    .ui.segment
    //            .row
    //                .column
    //                    .ui.segment
    //                        .ui.fluid.transparent.small.input
    //                            input(type='text', placeholder='Add application name')
    //                        .ui.divider
    //            .row
    //                .column
    //                    .ui.segment
    //
    //    .twelve.wide.column
    //        .ui.segment
