//
   Created by dustinlish on 2/21/17.
template
    .ui.basic.segment
        .ui.grid
            .row
                .eight.wide.column
                    h4.ui.header
                        | Name
                .eight.wide.column
                    h4.ui.header
                        | Registry
            .four.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" value="nodejs")
                    .ui.fitted.divider
                .four.wide.column
                    .ui.small.basic.primary.button
                        | Save
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" value="0.0.0.0:5000")
                    .ui.fitted.divider
                .four.wide.column
                    .ui.small.basic.primary.button
                        | Save
            .ui.hidden.divider
            .ui.hidden.divider
            .ui.hidden.divider
            .ui.hidden.divider
            .row
                .fourteen.wide.column
                    h4.ui.header
                        | Environment Variables
            .three.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" value="PATH")
                    .ui.fitted.divider
                .ten.wide.column
                    .ui.transparent.input
                        input(type="text" value="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/nodejs/bin")
                    .ui.fitted.divider
                .one.wide.column
                    i.ui.ion-ios-close-outline.big.red.icon
            .three.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="key")
                    .ui.divider
                .ten.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="value")
                    .ui.divider
                .one.wide.column
                    i.ui.ion-ios-plus-outline.big.green.icon
    //.ui.grid
    //    .four.wide.column
    //        .ui.grid
    //            .row
    //                .column
    //                    .ui.segment
    //            .row
    //                .column
    //                    .ui.segment
    //                        .ui.fluid.transparent.small.input
    //                            input(type='text', placeholder='Add application name')
    //                        .ui.divider
    //            .row
    //                .column
    //                    .ui.segment
    //
    //    .twelve.wide.column
    //        .ui.segment
