//
   Created by dustinlish on 2/21/17.

template
    .ui.basic.segment
        .ui.grid
            .row
                .fourteen.wide.column
                    h5.ui.header
                        | Port Settings
            .three.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" value="9000")
                    .ui.fitted.divider
                .ten.wide.column
                    .ui.transparent.input
                        input(type="text" value="10.238.0.53:8080")
                    .ui.fitted.divider
                .one.wide.column
                    i.ui.ion-ios-close-outline.big.red.icon
            .three.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="port")
                    .ui.divider
                .ten.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="ip:port")
                    .ui.divider
                .one.wide.column
                    i.ui.ion-ios-plus-outline.big.green.icon