//
   Created by dustinlish on 2/25/17.
template(bindable="value, color")
    .ui.tiny.statistic(style="border-left: 2px solid ${color}; margin-bottom: 1em;")
        .value(style='margin-left: 15px !important; color: #5B6A74;')
            | ${value}
