template
    require(from="common/elements/page-header")
    .page.header
        .ui
            page-header(
                router.bind="router",
                carousel-items.bind="bannerElements.items"
            )
    .page.content
        router-view
