template(bindable="router")
    .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.two.column.centered.grid
            .ui.container
                .ui.header
                    img.ui.medium.image(src="./styles/themes/hasli/assets/images/logos/hasli-logo.svg")
        .ui.middle.aligned.center.aligned.grid
            .two.column.centered.row
                .column
                    .ui.fitted.divider
            .column.five.wide
                .ui.two.item.secondary.pointing.inverted.menu
                    a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href', style='margin: 0 0 -4px;')
                        | ${row.title}
