template
    require(from='main/dashboard/wizard')
    wizard
    .ui.hidden.divider
    .ui.container
        .ui.text.menu
            h1.ui.header
                | Dashboard
            .right.menu
                .ui.right.aligned.item
                    a.ui.image(href='http://google.com')
                        img(src='styles/themes/hasli/assets/images/icons/list-layout-icon.svg')
                    a.ui.image(href='http://google.com')
                        img(src='styles/themes/hasli/assets/images/icons/block-layout-icon.svg')
        .ui.divider
        .ui.container.grid
            .two.column.row
                .column
                    .ui.icon.green.input
                        input(type='text', placeholder='Search...')
                        i.search.icon
                .right.aligned.seven.wide.column
                    .ui.basic.primary.button(type='button', click.trigger='create()')
                        | + CREATE
            .three.column.row
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-green.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
            .three.column.row
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
            .three.column.row
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .centered.card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-blue.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
                .column
                    .ui.cards
                        .card
                            .content
                                i.right.floated.grey.ellipsis.horizontal.icon
                                .header
                                    | Dustin's Awesome App
                                .meta
                                    | Hasli, Docker, NodeJs, MongoDB, Consul
                                .description
                                    .ui.image
                                        img(src='styles/themes/hasli/assets/images/sample-line-chart-red.svg')
                            .extra.content
                                .ui.two.buttons
                                    .ui.basic.green.button View
                                    .ui.basic.blue.button Deploy
        .ui.divider
        //.ui.internally.celled.relaxed.grid
        //    .two.column.row
        //        .left.floated.eleven.wide.column
        //            .row
        //                .column
        //                    .ui.left.floated.header
        //                        | Applications
        //                    a.pull-right
        //                        | show all
        //                    .ui.divided.items
        //                        .item
        //                            .ui.small.image
        //                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
        //                            .content
        //                                a.header AWS-NodeJs-Server 1
        //                                .meta
        //                                    a Date
        //                                    a Category
        //                                .description
        //                                    | A description which may flow for several lines and give context to the content.
        //                            .ui.small.image
        //                                img(src='styles/themes/hasli/assets/images/sample-chart.svg')
        //                        .item
        //                            .ui.small.image
        //                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
        //                            .content
        //                                a.header AWS-NodeJs-Server 2
        //                                .meta
        //                                    a Date
        //                                    a Category
        //                                .description
        //                                    | A description which may flow for several lines and give context to the content.
        //                            .ui.small.image
        //                                img(src='styles/themes/hasli/assets/images/sample-chart.svg')
        //                        .item
        //                            .ui.small.image
        //                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
        //                            .content
        //                                a.header AWS-NodeJs-Server 3
        //                                .meta
        //                                    a Date
        //                                    a Category
        //                                .description
        //                                    | A description which may flow for several lines and give context to the content.
        //                            .ui.small.image
        //                                img(src='styles/themes/hasli/assets/images/sample-chart.svg')
        //            .row
        //                .eleven.wide.column
        //                    .column
        //                        table.ui.very.basic.striped.right.aligned.table
        //                            thead
        //                                tr
        //                                    th.left.aligned Clusters
        //                                    th Clouds
        //                                    th # of hosts
        //                                    th Something else
        //                            tbody
        //                                tr
        //                                    td.left.aligned Fort Collins Cluster
        //                                    td 15
        //                                    td 26
        //                                    td 8
        //                                tr
        //                                    td.left.aligned Nona
        //                                    td 11
        //                                    td 21
        //                                    td 16
        //                                tr
        //                                    td.left.aligned Isidra
        //                                    td 34
        //                                    td 43
        //                                    td 11
        //                                tr
        //                                    td.left.aligned Bart
        //                                    td 41
        //                                    td 40
        //                                    td 30
        //                                tr
        //                                    td.left.aligned Nguyet
        //                                    td 41
        //                                    td 44
        //                                    td 28
        //                .five.wide.column
        //                    h5.ui.header US West
        //                    .ui.red.small.progress
        //                        .bar
        //                    h5.ui.header US East
        //                    .ui.green.small.progress
        //                        .bar
        //                    h5.ui.header US North
        //                    .ui.green.small.progress
        //                        .bar
        //                    h5.ui.header US South
        //                    .ui.yellow.small.progress
        //                        .bar
        //                    h5.ui.header US Central
        //                    .ui.orange.small.progress
        //                        .bar
        //        .right.floated.five.wide.column
        //            .ui.left.floated.header
        //                | Recent Activity
        //            a.pull-right
        //                | show all
        //            .ui.feed
        //                .event
        //                    .content
        //                        .summary
        //                            a.user
        //                                | Elliot Fu
        //                            |  added you as a friend
        //                            .date
        //                                | 1 Hour Ago
        //                        .meta
        //                            a.like
        //                                i.like.icon
        //                                |  4 Likes
        //                .event
        //                    .content
        //                        .summary
        //                            a Helen Troy
        //                            |  added
        //                            a  2 new illustrations
        //                            .date
        //                                | 4 days ago
        //                .event
        //                    .content
        //                        .summary
        //                            a.user
        //                                | Elliot Fu
        //                            |  added you as a friend
        //                            .date
        //                                | 1 Hour Ago
        //                        .meta
        //                            a.like
        //                                i.like.icon
        //                                |  4 Likes
        //                .event
        //                    .content
        //                        .summary
        //                            a.user
        //                                | Elliot Fu
        //                            |  added you as a friend
        //                            .date
        //                                | 1 Hour Ago
        //                        .meta
        //                            a.like
        //                                i.like.icon
        //                                |  4 Likes
