template
    .ui.two.column.equal.height.relaxed.grid.container.workspace-columns
       .column
           img(src='./assets/application_designer.png')
           h2 Explore Application Designer
           p Bacon ipsum dolor amet jerky venison shoulder landjaeger duis fugiat, aliquip deserunt sunt t-bone in esse kielbasa reprehenderit meatloaf.
           .carousel-menu
               div.citem.active
               div.citem
               div.citem
           a.button Explore
       .column
           img(src='./assets/browse_applications.png')
           h2 Browse Applications
           p Bacon ipsum dolor amet jerky venison shoulder landjaeger duis fugiat, aliquip deserunt sunt t-bone in esse kielbasa reprehenderit meatloaf.
           .carousel-menu
               div.citem.active
               div.citem
               div.citem
           a.button Browse
       .column
           img(src='./assets/cloud_providers.png')
           h2 Add Cloud Providers
           p Bacon ipsum dolor amet jerky venison shoulder landjaeger duis fugiat, aliquip deserunt sunt t-bone in esse kielbasa reprehenderit meatloaf.
           .carousel-menu
               div.citem.active
               div.citem
               div.citem
           a.button Add
       .column
           img(src='./assets/deploy_applications.png')
           h2 Deploy applications and infrastructure
           p Bacon ipsum dolor amet jerky venison shoulder landjaeger duis fugiat, aliquip deserunt sunt t-bone in esse kielbasa reprehenderit meatloaf.
           .carousel-menu
               div.citem.active
               div.citem
               div.citem
           a.button Deploy