template
    .tiny-menu
        .tmitem(click.delegate="addProperty()")
            i.plus.icon
        .tmitem(click.delegate="removeProperty()")
            i.minus.icon
    .properties(if.bind="propertyAware")
        .property(repeat.for="property of properties")
            .key(dblclick.delegate="editKey($event, property)") ${property.key}
            .value(dblclick.delegate="editValue($event, property)") ${property.value}


