template
    require(from="lib/common/resources/custom-elements/body-panel/body-panel")
    .body-content
        h1 Orchestration Dashboard
        .btn-floating.btn-floating-add(ref="createBtn" click.delegate="create()" title="Create a New Workspace")
            i.material-icons.large.mdi.mdi-plus
        .card(repeat.for="orchestration of orchestrations")
            .card-content
                .card-icon
                    summary-icon(text="${orchestration.name}" size="90")
                h2.card-title ${orchestration.name}
                .card-button
                    a.btn.waves-effect(click.delegate="open(orchestration.id)") View
            .card-action
                .action.left
                    .chip.state-pending Pending
                .action.left Docker
                .action.right.version Version: ${orchestration.version.name()}

    body-panel(active.bind="panelActive" sections.bind="true" content.bind="content")