//.node-info {
//
//  .banner {
//    width:100%;
//    height:40px;
//    border:1px solid red;
//  }
//}

$stBreadcrumbColor : #252525;

.content-banner {
  width: 100%;
  height: 36px;
  background-color: $stBreadcrumbColor;

}

.breadcrumb {
  background: 0 0 !important;
}


section.content {
  background-color:#E7E7E7;
  height:100%;
  padding:16px;

  .large {
    font-size:30px;
  }

  .section-header {
    color:#EDEDED;
  }

  .section-info {
    border:1px solid #252525;
    padding:8px;
    margin-top:8px;
    color:#EDEDED;

    span.info {
      font-size:16px;
      clear:both;
      display:block;
    }

    div.info-field {
      span {
        clear:none;
        float:left;
      }
      div {
        float:right;
        clear:right;
        display:block;
        width:100%;
        margin-left:16px;
      }
      clear:none;
      display:inline-block;
      padding:8px;
    }
  }
}