template
    //start main/settings
    .ui.grid
        .ui.three.wide.column
            sidenav(router="router")
        .ui.thirteen.wide.column
            .ui.hidden.divider
            router-view
    //end main/settings