//
   Created by dustinlish on 2/19/17.
template
    .overlay.au-animate
        .ui.container
            .ui.secondary.menu
                .right.menu
                    a.item
                        i.huge.ion-ios-close-empty.icon(click.delegate="cancel()")
            .ui.middle.aligned.center.aligned.grid
                .two.column.centered.row
                    .column
                        h3.ui.center.aligned.header
                            | CREATE NEW APPLICATION
                    .column
                        .ui.hidden.divider
                        .ui.hidden.divider
                        .ui.fluid.transparent.input
                            input(type='text', placeholder='Add application name').overlay-input-centered
                        .ui.divider
            .big-divider
            .ui.basic.center.aligned.segment
                h1.ui.center.aligned.header
                    i.circular.blue.ion-image.icon.circular--icon
                    | Add Photo
                .big-divider
                .ui.grid
                    .row
                        .two.wide.column
                        .twelve.wide.column
                            .ui.four.link.cards
                                .new-app_type.card.hvr-glow(repeat.for="template of templates")
                                    .content
                                        .header
                                            img(src="${template.icon}")
                                        .description
                                            | ${template.description}
                        .two.wide.column
                .big-divider
                button.ui.secondary.button(click.delegate="create()")
                    | Get Started