template
    ui.side-nav(id="${controlId}")
        li
            div
                compose(view-model.bind="currentComponent.reference")



    ul.side-nav-small
        li.side-nav-header
            a
                summary-icon(text="Hasli.io" fill="#239ae8" textColor="white" stroke="none" size="60")
        li(repeat.for="nav of navigatorManager.router.navigation" class="${nav.isActive ? 'active' : ''}")
            a(href.bind="nav.href" click.delegate="open(nav)")
                i.material-icons.mdi(class="${nav.settings.icon}")
        li.side-nav-toggle
            a
                i.material-icons.mdi(class="${opened ? 'mdi-chevron-double-left' : 'mdi-chevron-double-right'}", click.delegate="toggle()")
