template
    ul.side-nav-small
        li.side-nav-header boop
        li(repeat.for="nav of navigatorManager.router.navigation")
            a(href.bind="nav.href") ${nav.title}
        li.side-nav-toggle(data-activates="${controlId}")
