template
    .ui.menu--header
        .ui.sidebar-header
            span.pull-left
                | Layers
            .ui.right.floated.image.middle.header-icon
                img(src='styles/themes/hasli/assets/images/icons/plus-green-icon.svg')
    .ui.list(style="padding:16px")
        .item(repeat.for="element of layers")
            .content
                a.header Infrastructure
                .description ${element.id}
                .list
                    .item(repeat.for="child of element.children")
                        .content
                            .description ${child.name}
