template
    .designer-panel-header.icon-menu
        i.material-icons.mdi.mdi-cloud-outline
    .designer-panel-body
        .designer-form
            label Type
            select.browser-default
                option(value='', disabled='', selected='') Choose your option
                option(value='1') Option 1
                option(value='2') Option 2
                option(value='3') Option 3
            a.create-link(title="Incomplete Feature")
                i.material-icons.mdi.mdi-plus-circle-outline
                | Create
        .designer-cards
            .designer-card
                img(src="assets/icons/designer/virtual-machine.svg")
                span Virtual Machine
            .designer-card
                img(src="assets/icons/designer/security-group.svg")
                span Security Group