template
    .ui.three.fluid.column
        .ui.secondary.vertical.pointing.menu(style="height:400px; padding-top:25px")
            a.item hello
                i.gamepad.icon
            a.item world
                i.video.camera.icon
            a.item cool
                i.video.play.icon

