template
    .sidenav(style="height:100%")
        .ui.secondary.vertical.pointing.menu.sidenav(style="height:100%")
            a.item.sidenav-collapse(ref="collapse")
                i.angle.double.left.icon.disabled.large
            a.item
                | Home
            a.item
                | Messages
            a.item.active
                | Friends
