
.sidenav {
  height:100%;
  .sidenav-collapse {
    height:64px;
    vertical-align: top;
  }
  .sidenav-container {
    height:100%;
  }

  a.item {
    margin-left:24px;
    font-size:1.2em;
    color:#8b8d98!important;
  }
}

