template
    require(from="lib/common/resources/custom-elements/body-panel/body-panel")
    .body-content(ref="content")
        h1 Applications
        .card
            .card-content
                .card-icon
                    summary-icon(text="Docker Swarm Template" size="90")
                h2.card-title Docker Swarm Template
                .card-button
                    a.btn.waves-effect Deploy
            .card-action
                .chip.state-good Release
                .version Version 1.0.23
        .card
            .card-content
                .card-icon
                    summary-icon(text="Docker Swarm Template" size="90")
                h2.card-title Docker Swarm Template With A Super Super Super Super Super Long Name
                .card-button
                    a.btn.waves-effect Deploy
            .card-action
                .chip.state-good Release
                .version Version 1.0.23
    body-panel(active.bind="panelActive" sections.bind="true" content.bind="content")