template(bindable="node")
    section.content-banner
        ul.breadcrumb
            li
                a(href="#network") Network

            li
                a(href="#network") ${node.id}
            li
                a(href="#logs") logs

    section.content.dark
        div.section-header.large
            span.ion-log-in
            | Logs ${node.id} (${node.ipAddresses[0]})
        textarea.log(ref="console")



