template
    .ui.grid
        .three.wide.column
            .ui.vertical.tabular.menu(style="width:auto; min-width:100px;")
                a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
                    | ${row.title}
        .thirteen.wide.stretched.column
            router-view


    //.ui.four.column.wide
    //    .ui.menu.vertical.fluid.tabular
    //        a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
    //            | ${row.title}
    //.ui.twelve.stretched.column.wide
    //    router-view
