template
    .ui.container
        h1 Infrastructure
    .ui.tabular.menu
        .ui.container
            a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
                | ${row.title}
    .ui.container
        router-view


    //.ui.four.column.wide
    //    .ui.menu.vertical.fluid.tabular
    //        a.item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
    //            | ${row.title}
    //.ui.twelve.stretched.column.wide
    //    router-view
