template
    .ui.form
        .field.overlay-field
            .overlay-label
                label Security Group Name
            .ui.input.overlay-input
                input(type="text" name="name")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label Description
            .ui.input.overlay-input
                textarea(name="description", rows="2")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label Instance Count
            .ui.input.overlay-input
                input(type="text" name="instanceCount")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label CPU
            .ui.input.overlay-input
                input(type="text" name="cpu")
            .overlay-help
                i.icon.help.circle.outline.large

