template
    require(from="main/workspace/builder/sidemenus/left-menu")
    require(from="main/workspace/builder/sidemenus/right-menu")
    .ui.grid.workbench-container
        .row
            .twelve.wide.centered.column
                .ui.mini.secondary.menu
                    a.item
                        .ui.dropdown
                            .text Menu
                            i.dropdown.icon
                            .menu
                                .item New
                                .item
                                    span.description ctrl + o
                                    |       Open...
                                .item
                                    span.description ctrl + s
                                    |       Save as...
                                .item
                                    span.description ctrl + r
                                    |       Rename
                                .item Make a copy
                                .item
                                    i.folder.icon
                                    |       Move to folder
                                .item
                                    i.trash.icon
                                    |       Move to trash
                                .divider
                                .item Download As...
                                .item
                                    i.dropdown.icon
                                    |       Publish To Web
                                    .menu
                                        .item Google Docs
                                        .item Google Drive
                                        .item Dropbox
                                        .item Adobe Creative Cloud
                                        .item Private FTP
                                        .item Another Service...
                                .item E-mail Collaborators
                    a.active.item
                        i.block.layout.icon
                        | Applications
                    a.item
                        i.server.icon
                        | Infrastructure
                    a.item
                        i.arrow.right.icon
                        | Deploy
                    .right.compact.mini.menu
                        a.item
                            i.search.icon
                            | Browse Templates
                        a.item.no--padding(type='button', click.trigger='toggleLeft()')
                            .ui.image
                                img(src='styles/themes/hasli/assets/images/icons/toggle-left-menu-icon.svg')
                        a.item.no--padding(type='button', click.trigger='toggleRight()')
                            .ui.image
                                img(src='styles/themes/hasli/assets/images/icons/toggle-right-menu-icon.svg')
        .row.workbench(style="border-top:1px solid gray")
            .three.wide.column.tall(ref="leftSidebar", style="border-right:1px solid gray")
                left-menu
            .ten.wide.column.tall(ref="graph")
            .three.wide.column.tall(
                ref="rightSidebar",
                style="border-left:1px solid gray",
            )
                right-menu(image-dragged.delegate="onImageAdded($event)")
