template
    .ui
        button.ui.button.primary(click.delegate="addCredential()") Add Credential
    .ui.segment(repeat.for="credential of credentials")
        .field Name: ${credential.name}
        .field User: ${credential.user.username}

    .ui.form(show.bind="addingCredential")
        .field
            label Name
            input(type="text", value.bind="credential.name")
        .field
            label Secret
            input(type="text", value.bind="credential.secret")
        .field
            label Credential
            input(type="text", value.bind="credential.credential")
        button.ui.pull-right.button.primary(click.delegate="save()")




