template
    require(from="./basic")
    .overlay-sidenav
        .overlay-header
            .ui.small.image.overlay-header-image
                img(src="${node && node.operatingSystem.icon ? node.operatingSystem.icon : node.icon}")
            span.overlay-header-label ${node.name}
        .overlay-segment
            .segment-header Details
            .segment-body
                .item
                    | Created
                    | Date
                .item
                    | Updated
                    | Date
                .item
                    | Blocks
                    | Count
        .overlay-segment
            .segment-header Activity
            .segment-body
                //TODO
    .overlay-body
        .ui.secondary.pointing.menu.overlay-body-tab-menu
            .item.active Summary
            .item Stuff
            .item Stuff2
        .overlay-form
            basic-infrastructure-node-editor(mode.bind="editorMode", node.bind="node")