template
    require(from="./basic")
    .overlay-sidenav
        .overlay-header
            .ui.inline.dropdown(ref="list")
                span.text.inlineimage.ui.small.image.overlay-header-image
                    img.ui.mini.image(src="")
                    | Select OS
                    i.caret.down.icon
                .menu
                    .item(repeat.for="os of osService.list()" data-value="${os.id}")
                        image.ui.image(src='${os.icon}')
                        | ${os.name}
                span.overlay-header-label ${node.name}
        .overlay-segment
            .segment-header Details
            .segment-body
                .item
                    | Created
                    | Date
                .item
                    | Updated
                    | Date
                .item
                    | Blocks
                    | Count
        .overlay-segment
            .segment-header Activity
            .segment-body
                //TODO
    .overlay-body
        .ui.secondary.pointing.menu.overlay-body-tab-menu
            .item.active Summary
            .item Stuff
            .item Stuff2
        .overlay-form.ui.form
            basic-infrastructure-node-editor