template
    .header
        | Execution Order
    .content
        .sequence(repeat.for="sequence of sequences")
            i.center.aligned.long.arrow.down.icon(if.bind="!$first", style="margin-left:16px")
            .parallel-group(style="border:1px solid #f2f2f2; margin:4px; padding:4px;")
                .parallel-group-item(repeat.for="element of sequence.elements", style="display:inline-block; margin-left:16px")
                    img.ui.image(
                        src="${element.data.icon}",
                        style="width:24px",
                        height="24px"
                    )


