template
    .ui.grid.palette
        .item(click.delegate="groupElements()")
            i.large.icon.object.group
        .item
            i.large.icon.object.ungroup
        .item
            i.large.icon.lock
        .item
            i.large.icon.unlock
        .item
            i.large.icon.clone
        .item
            i.large.icon.server
