template
    //todo loader
    .chart-card
        .card-header
            | Servers
            i.material-icons.mdi.mdi-chip
        .card-content
            .chart(id="${chart1id}")
            .extra-info
    .chart-card
        .card-header
            | Storage
            i.material-icons.mdi.mdi-server
        .card-content
            .chart(id="${chart2id}")
            .extra-info
    .chart-card
        .card-header
            | Networks
            i.material-icons.mdi.mdi-access-point-network
        .card-content
            .chart(id="${chart3id}")
            .extra-info
    .chart-card
        .card-header
            | Regions
            i.material-icons.mdi.mdi-cloud
        .card-content
            .chart(id="${chart4id}")
            .extra-info