template
    .chart-card
        .card-header Servers
        .card-content
            .chart
    .chart-card
        .card-header Storage
        .card-content
            .chart
    .chart-card
        .card-header Networks
        .card-content
            .chart
    .chart-card
        .card-header Regions
        .card-content
            .chart