template
    .chart-card
        .card-header Servers
        .card-content
            .chart(id="${chart1id}")
    .chart-card
        .card-header Storage
        .card-content
            .chart(id="${chart2id}")
    .chart-card
        .card-header Networks
        .card-content
            .chart(id="${chart3id}")
    .chart-card
        .card-header Regions
        .card-content
            .chart(id="${chart4id}")