template(bindable="nodes")
    div.modal.fade(style='display:none', tabindex='-1', role='dialog', ref="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', click.delegate='hideDialog()', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Commit
                .modal-body
                    .table-responsive(style='height:400px;')
                        div(style='margin-bottom:16px; height:180px;')
                            span Files
                            div.commitFileList
                                ul
                                    li(repeat.for="file of revisedFiles") ${file.name}
                        div.commitMessage(style='height:180px')
                            textarea(ref='commitMessage', style='width:100%; height:100%; background-color:#45494A')
                .modal-footer
                    button.btn.btn-default(type='button', click.delegate='hideDialog()') Cancel
                    button.btn.btn-primary(type='button', click.delegate='commitRevisions()') Commit
