div(ref="blockContentView").block-content-view
    ul
        li
            span.ion-android-open.open-block-file
            a(href="whatever") Cool beans
        li
            span.ion-android-open.open-block-file
            a(href="whatever") Cool beans
        li
            span.ion-android-open.open-block-file
            a(href="whatever") Cool beans
