//
   Created by dustinlish on 11/7/16.
template
    .column
        .ui.hidden.divider
        .ui.container
            .ui.header
                | APPLICATION INSTANCES
            .ui.secondary.menu
                .item
                    .ui.icon.green.input
                        input(type='text', placeholder='Search...')
                        i.search.icon
                .item
                    .ui.selection.dropdown
                        | Dropdown
                        i.dropdown.icon
                        .menu
                            .item Choice 1
                            .item Choice 2
                            .item Choice 3
                .item
                    .ui.action.input
                        input(type='text', placeholder='Navigate to...')
                        .ui.primary.button Go
                .right.floated.item
                    .ui.primary.mini.button(type='button', click.trigger='create()')
                        | + CREATE
            .ui.divided.items
                .item
                    .ui.tiny.image
                        img(src='styles/themes/hasli/assets/images/logos/aws-logo.svg')
                    .content
                        a.header Dustin's Awesome App
                        .ui.right.floated.tiny.basic.green.button
                            | Edit
                        .meta
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/redis-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/mysql-logo.svg')
                        .description
                        .extra
                            .ui.grid
                                .four.column.row
                                    .column
                                        .ui.list
                                            .item CPU: 4
                                            .item Memory: 4gb
                                            .item OS: Ubuntu 16.04
                                            .item IP: 51.42.31.12
                                    .column
                                        h5.ui.header
                                            | Memory
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-blue-chart.svg')
                                    .column
                                        h5.ui.header
                                            | CPU
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-green-chart.svg')
                                    .column
                                        h5.ui.header
                                            | Disk I/O
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-orange-chart.svg')
                .item
                    .ui.tiny.image
                        img(src='styles/themes/hasli/assets/images/logos/aws-logo.svg')
                    .content
                        a.header Dustin's Awesome App
                        .ui.right.floated.tiny.basic.green.button
                            | Edit
                        .meta
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/redis-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/mysql-logo.svg')
                        .description
                        .extra
                            .ui.grid
                                .four.column.row
                                    .column
                                        .ui.list
                                            .item CPU: 4
                                            .item Memory: 4gb
                                            .item OS: Ubuntu 16.04
                                            .item IP: 51.42.31.12
                                    .column
                                        h5.ui.header
                                            | Memory
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-blue-chart.svg')
                                    .column
                                        h5.ui.header
                                            | CPU
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-green-chart.svg')
                                    .column
                                        h5.ui.header
                                            | Disk I/O
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-orange-chart.svg')
                .item
                    .ui.tiny.image
                        img(src='styles/themes/hasli/assets/images/logos/aws-logo.svg')
                    .content
                        a.header Dustin's Awesome App
                        .ui.right.floated.tiny.basic.green.button
                            | Edit
                        .meta
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/redis-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/mysql-logo.svg')
                        .description
                        .extra
                            .ui.grid
                                .four.column.row
                                    .column
                                        .ui.list
                                            .item CPU: 4
                                            .item Memory: 4gb
                                            .item OS: Ubuntu 16.04
                                            .item IP: 51.42.31.12
                                    .column
                                        h5.ui.header
                                            | Memory
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-blue-chart.svg')
                                    .column
                                        h5.ui.header
                                            | CPU
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-green-chart.svg')
                                    .column
                                        h5.ui.header
                                            | Disk I/O
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-orange-chart.svg')
                .item
                    .ui.tiny.image
                        img(src='styles/themes/hasli/assets/images/logos/aws-logo.svg')
                    .content
                        a.header Dustin's Awesome App
                        .ui.right.floated.tiny.basic.green.button
                            | Edit
                        .meta
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/redis-logo.svg')
                            .ui.basic.label
                                img(src='styles/themes/hasli/assets/images/logos/mysql-logo.svg')
                        .description
                        .extra
                            .ui.grid
                                .four.column.row
                                    .column
                                        .ui.list
                                            .item CPU: 4
                                            .item Memory: 4gb
                                            .item OS: Ubuntu 16.04
                                            .item IP: 51.42.31.12
                                    .column
                                        h5.ui.header
                                            | Memory
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-blue-chart.svg')
                                    .column
                                        h5.ui.header
                                            | CPU
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-green-chart.svg')
                                    .column
                                        h5.ui.header
                                            | Disk I/O
                                        .ui.small.image
                                            img(src='styles/themes/hasli/assets/images/sample-small-orange-chart.svg')
