template
    h1 Credentials
    .ui.padded.grid
        .ui.card.fluid
            .content(style="background-color:gray")
                .header
                    span.left.floated Credential
                    button.ui.button.right.floated(click.delegate="addCredential()") New Credential
            .content
                .ui.relaxed.divided.list
                    .item(repeat.for="credential of credentials")
                        i.large.github.middle.aligned.icon
                        .content
                            a.header Semantic-Org/Semantic-UI
                            .description Updated 10 mins ago
            .content
                form.ui.form(show.bind="newCredential")
                    .field
                        label Credential Name
                        input(type='text', name='credential-name', placeholder='Credential Name')
                    .field
                        label Key Id
                        input(type='text', name='key-id', placeholder='key-id')
                    .field
                        label Key
                        input(type='text', name='key', placeholder='key')
                    button.ui.button(type='submit', click.delegate="saveCredential()") Submit

