template
    require(from="main/provider/widgets/clouds")
    require(from="main/provider/widgets/instances")
    require(from="main/provider/widgets/applications")
    .ui.container
        clouds-widget
        instances-widget
        applications-widget