template
    .ui.fullscreen.modal(ref="container")
        .header
            .center.aligned
                | CREATE INSTANCE
        .content
            router-view
        .actions
            //todo figure out how to get button to realize what the active view is
            button.ui.right.primary.button(click.delegate="next()")
                | Next
