template
    .ui.secondary.pointing.menu
        a.active.item Controls

    .ui.horizontal.list.controls
        .ui.item.button.icon(click.delegate="addGroup()")
            i.ui.object.group.icon
        .ui.item.button.icon(clic.delegate="removeGroup()")
            i.ui.object.ungroup.icon
