template
    .lineplot(style="width:125px; height:150px; display:inline-block; margin-top:32px; text-align:center; margin-right:75px")
        .plot(ref="element")
        .lineplotlabel(style="display:inline-block; font-weight: bold; color:#70717f") ${label}
