template
    .ui.one.column.center.aligned.grid
        .column.eight.wide.form-holder
            h2.center.aligned.header.form-head
                | Create Account
            .ui.hidden.divider
            .ui.small.form
                .two.fields
                    .field
                        label.pull-left First name
                        input(type='text', placeholder='Enter your firstname', value.bind='user.firstname')
                    .field
                        label.pull-left Last name
                        input(type='text', placeholder='Enter your lastname', value.bind='user.lastname')
                .two.fields
                    .field
                        label.pull-left Username
                        input(type='text', placeholder='Enter your username', value.bind='user.username')
                    .field
                        label.pull-left Email
                        input(type='text', placeholder='Email@domain.com', value.bind='user.emailAddress')
                .two.fields
                    .field
                        label.pull-left Password
                        input(type='password', placeholder='Enter your password', value.bind='user.password')
                    .field
                        label.pull-left Confirm Password
                        input(type='password', placeholder='Renter your password', value.bind='user.password')
                .four.wide.field
                    input.ui.button.large.fluid.green(type='submit', value='sign up', click.delegate="signup()")
