template
    .ui.center.aligned.grid
        .column.eight.wide.form-holder
            h2.center.aligned.header.form-head
                | Create Account
            .ui.hidden.divider
            form.ui.small.form
                .two.fields
                    .field
                        label.pull-left First Name
                        input(type='text', placeholder='Enter your First Name', value.bind='user.firstname')
                    .field
                        label.pull-left Last Name
                        input(type='text', placeholder='Enter your Last Name', value.bind='user.lastname')
                .two.fields
                    .field
                        label.pull-left Username
                        input(type='text', placeholder='Enter your username', value.bind='user.username')
                    .field
                        label.pull-left Email
                        input(type='text', placeholder='Email@domain.com', value.bind='user.emailAddress')
                .two.fields
                    .field
                        label.pull-left Password
                        input(type='password', placeholder='Enter your password', value.bind='user.password')
                    .field
                        label.pull-left Confirm Password
                        input(type='password', placeholder='Re-enter your password', value.bind='user.password')
                .ui.error.message.left(show.bind="showError" style="margin-top:10px")
                    p Username or email already exists

                button.ui.field.button.fluid.primary(type='submit', click.delegate="signup()") Sign Up

