template
    require(from="apps/workspaces/resources/custom-elements/workspace-card/workspace-card")
    require(from="apps/workspaces/resources/custom-elements/template-card/template-card")
    .body-content(ref="content")
        .btn-floating.btn-floating-add(ref="createBtn" click.delegate="create()" title="Create a New Workspace")
            i.material-icons.large.mdi.mdi-plus
        //h1 Workspaces
        loader(if.bind="loading")
        template(if.bind="templates.length > 0")
            template-card(if.bind="!loading" repeat.for="template of templates" template.bind="template")
        template(if.bind="templates.length == 0")
            .workspace-card
                .card-content(click.delegate="create()")
                    summary-icon(stroke="none" fill="#335061" textColor="white" text="H I" size="80")
                    h2.card-title Make a Template 
                    .card-updated Just Click Here
        