template
    require(from="main/workspace/builder/applications/sidemenus/left-menu")
    require(from="./sidemenus/right/right")
    .row.column.workbench(ref="container", style="height:100%;" )
    left-menu(ref="leftSidebar")
    right
    //right-menu(ref="rightSidebar", add-image.delegate="addTask($event)")