template
    h1 Applications
    form(class='dropzone')
        input(type='file' name='file' ref="element")
        input(
            type="submit"
            value="Add",
            click.delegate="upload()"
        )
