//
   Created by dustinlish on 2/27/17.

template
    .ui.grid
        h5.ui.header
            | 1 - 4 of 4 available images.
        .ui.hidden.divider
        .ui.basic.segment
            .ui.cards
                .card
                    .content
                        img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/ca-logo.png')
                        .header
                            | CA UIM
                        .meta
                            | Docker Compose
                        .description
                            | Deploys CA UIM, UMP and MySql
                    .extra.content
                        .ui.two.buttons
                            .ui.basic.secondary.button Add
                            .ui.basic.blue.button(click.delegate="open()") View
                .card
                    .content
                        img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/ca-logo.png')
                        .header
                            | CA Robot
                        .meta
                            | Container
                        .description
                            | Deploys CA Robot
                    .extra.content
                        .ui.two.buttons
                            .ui.basic.secondary.button Add
                            .ui.basic.blue.button View
                .card
                    .content
                        img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/ca-logo.png')
                        .header
                            | CA Azure Probe
                        .meta
                            | Container
                        .description
                            | Deploys and configures Azure probe to UIM instance
                    .extra.content
                        .ui.two.buttons
                            .ui.basic.secondary.button Add
                            .ui.basic.blue.button View
                .card
                    .content
                        img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/ca-logo.png')
                        .header
                            | CA AWS Probe
                        .meta
                            | Container
                        .description
                            | Deploys and configures AWS probe to UIM instance
                    .extra.content
                        .ui.two.buttons
                            .ui.basic.secondary.button Add
                            .ui.basic.blue.button View

