//
   Created by dustinlish on 2/27/17.

template
    .ui.grid
        h5.ui.header
            | 1 - 4 of 4 available images.
        .ui.hidden.divider
        .ui.basic.segment
            .ui.cards
                .card(repeat.for="application of applications")
                    .content
                        img.right.floated.mini.ui.image(src='styles/themes/hasli/assets/images/logos/ca-logo.png')
                        .header
                            | ${application.name}
                        .meta
                            | Docker Compose
                        .description
                            | ${application.description}
                    .extra.content
                        .ui.two.buttons
                            .ui.basic.secondary.button(click.delegate="select(application)")
                            .ui.basic.blue.button(click.delegate="open()") View
