template
    .carousel-container
        .carousel-contents
            compose(view-model.bind="currentItem")
        .carousel-menu
            .items
                div(
                    repeat.for="item of items",
                    class="citem ${item.active ? 'active' : ''}"
                    click.delegate="setCurrent(item, $index)"
                )