template
    .carousel-container
        compose(view-model.bind="currentItem")

    .carousel-menu
        div.citem(
            repeat.for="item of items",
            class="${item.active ? 'active' : ''}"
            click.delegate="setCurrent(item)"
        )