template
    designer
        left-panel
            top
                h1 Coolbeans
            bottom
                h2 Frapper
        right-panel
            top
                h1 Fadsfasfd
            bottom
                h2 afadsf



