template
    require(from="lib/designer/elements/editor-panel/editor-panel")
    require(from="lib/designer/elements/menu-bar/menu-bar")
    .designer-container(ref="element")
    menu-bar
    editor-panel(active="panelActive")
