template
    designer
        left-panel
            top
                layer-panel
            bottom
                element-panel
        right-panel
            full
                property-panel


