template
    designer
        left-panel
            top
                layer-panel
            bottom
                panels
                    panel(view-model="lib/designer/elements/element-panel/element-panel")
                    panel(view-model="lib/designer/elements/element-panel/element-panel")
                    panel(view-model="lib/designer/elements/element-panel/element-panel")
        right-panel
            full
                property-panel


