template
    designer
        left-panel
            top
                layer-panel
            bottom
                element-panel
        right-panel
            full
                .designer-panel-header
                    h2 Poots



