//
   Created by dustinlish on 2/6/17.
template
    require(from="apps/workspaces/resources/custom-elements/charts/line-chart")
    require(from="apps/workspaces/resources/custom-elements/charts/chart-stat.html")
    .ui.hidden.divider
    .ui.container
        .ui.basic.segment
            h2.ui.header
                i.circular.green.ion-ios-monitor-outline.icon.circular--icon.circular--icon_green
                .content
                    |   Dashboard
        .ui.hidden.divider
    .ui.fluid.container
        .ui.hidden.divider
        .ui.container.equal.height.grid
            .row
                .eight.wide.column
                    .ui.basic.segment
                        .chart-header
                            | Total Number of Instances
                        chart-stat(value="0", color="rgba(56, 155, 255, .8)")
                        .chart
                            line-chart(data.bind="totalInstancesData")
                .eight.wide.column
                    .ui.basic.segment
                        .chart-header
                            | Running Instances
                        chart-stat(value="0", color="#1EC38A")
                        .chart
                            line-chart(data.bind="totalInstanceStatuses")
    .ui.divider
