template
    .hasli-modal
        h2 Select Deployment Credentials
        .field.ui.fluid.search.selection.dropdown(ref="dropdown")
            input(type="hidden")
            .default.text Credential
            .menu
                .item(
                    repeat.for="credential of credentials"
                    data-value="${credential.id}"
                ) ${credential.name}
        .hasli-modal--button-holder
            .ui.button.primary(click.delegate="deploy()") Deploy
