template
    .ui.basic.segment
        .ui.active.dimmer(ref="loader" style="position:absolute; top:0; bottom:0; left:0; right:0" if.bind="loading")
            .ui.text.loader Loading Application List...
        .ui.fluid.icon.input(ref="applicationSearch")
            input(type="text",
                placeholder="Search Applications")
            i.search.icon
            //.default.text Most Popular
            //.menu
            //    .item(data-value='database') Databases
            //    .item(data-value='monitoring') Monitoring
        .ui.applications(ref="element" show.bind="!loading")
            .ui.divided.stackable.items
                .item.flex.small--item.app-drag-target(repeat.for="descriptor of elements", data-value="${descriptor.name}")
                    .ui.mini.image
                        img(src='/hasli/api/v1/storage/s3/images/${descriptor.logo_url.large}')
                    .middle.aligned.content
                        | ${descriptor.name}
    //mousedown.delegate="startDrag(descriptor.pid, $event)")
    //draggable="true",
    //dragend.delegate="addImage(descriptor.pid, $event)")
