template
    .designer-menu-bar
        .template-info
            .dropdown-button
                | Template Name

        ul.tab-menu
            li.tab.active
                a.material-icons.mdi.mdi-checkbox-multiple-blank
            li.tab
                a.material-icons.mdi.mdi-source-branch
        .utilities
            i.material-icons.mdi.mdi-content-save
            i.material-icons.mdi.mdi-undo-variant
            i.material-icons.mdi.mdi-redo-variant
            //only adding these for now since we know we'll use them
