template
    section.content-banner
        ul.breadcrumb
            li
                a(href='#') Network
            li
                a(href='#') ${node.id}
            li
                a(href='#') dashboard
    section.content.light
