template
    require(from="charts/line")
    .widget
        .widget-header
            | Instances
            .widget-callout
                | 157
        .widget-body
            .widget-plot
                line-chart(source.bind="awsSource")
                line-chart(source.bind="azureSource")
                line-chart(source.bind="vmwareSource")

