template
    .header
        | Save Draftboard
    .image.content
        .ui.medium.image
            //img(src='/images/avatar/large/chris.jpg')
        .description
            .ui.form
                .field
                    label Name
                    input(type='text', name='name', value.bind="current.name")
                .field
                    label Name
                    input(type='text', name='name', value.bind="current.description")
                .field
                    label Name
                    input(type='text', name='name', value.bind="current.notes")
    .actions
        .ui.black.deny.button
            | Cancel
        .ui.positive.right.labeled.icon.button(click.delegate="save()")
            | Save
            i.checkmark.icon
