template
    div.metrics-selector(show.bind="visible")
        div.metrics-selector-container
            select(ref="metricsSelector")


        div.selected-metrics
            ul(ref="selectedMetrics")
    div.selector-apply(show.bind="visible")
        button(click.delegate="apply()").btn.btn-lg.pull-right
            span.glyphicon.ion-android-checkbox-outline

