template
    .ui.fullscreen.modal(ref="container")
        .content
            router-view
        .actions
            .ui.red.basic.cancel.inverted.button H1 Whatever
            //.wizard(style="padding:24px; overflow-y:auto")
            //    .ui.mini.steps
            //        a.step(repeat.for='row of router.navigation', href.bind="row.href")
            //            .content
            //                .title ${row.title}
