template
    require(from="common/resources/custom-elements/nav-bar/navbar")
    require(from="common/resources/custom-elements/footer")

    navbar

    // main

    router-view(style="flex: 1;").main-container

    footer