template
    .ui.hidden.divider
    form.ui.form
        .ui.stackable.grid
            .row.form--field
                .three.wide.right.aligned.middle.aligned.column
                    .required.field
                        label Name
                .twelve.wide.column
                    input(type='text', name='name', placeholder='instance name')
            .row.form--field
                .three.wide.right.aligned.middle.aligned.column
                    .required.field
                        label Cloud
                .twelve.wide.column
                    select.ui.fluid.dropdown
                        option(value='') cloud
                        option(value='new') create new +
            .row.form--field
                .three.wide.right.aligned.middle.aligned.column
                    .field
                        label Tag
                .twelve.wide.column
                    .ui.fluid.multiple.search.selection.dropdown(ref="tagDropdown", value.bind="selectedTags")
                        input(name='tags', type='hidden')
                        i.dropdown.icon
                        .default.text Tags
                        .menu
                            .item(data-value='production') Production
                            .item(data-value='staging') Staging
                            .item(data-value='dev') Dev
                            .item(data-value='qa') QA
    .ui.hidden.divider
