template
    require(from="./basic")
    require(from="./credentials")
    .overlay-sidenav
        .overlay-header
            .ui.small.image.overlay-header-image
                img(src="${cloud.icon}")
            span.overlay-header-label ${cloud.name}
        .overlay-segment
            .segment-header Details
            .segment-body
                .item
                    | Created
                    | Date
                .item
                    | Updated
                    | Date
                .item
                    | Blocks
                    | Count
        .overlay-segment
            .segment-header Activity
            .segment-body
                //TODO
    .overlay-body
        .ui.secondary.pointing.menu.overlay-body-tab-menu
            .item.active Summary
            .item Credentials
        .overlay-form
            credentials(node.bind="cloud")
            //basic-virtual-cloud-editor

