@grey: #7D7C7C;
@lightgrey: lighten(#D6D6D7, 5%);
@em: 16px;
@blue: #239AE8;

.folio {
  .sidenav {
    .fpage-list {
      border: 1px solid @lightgrey;
      border-radius: 5px;
      padding:@em;

      .header {
        color: @grey;
        font-weight:bold;
        border-bottom: 1px solid @lightgrey;
        font-size:1.75rem;
        padding-bottom:1rem;
        line-height: normal;
        height: auto;
      }

      .ui.secondary.vertical.pointing.menu {
        width:100% !important;
        float:none;
        .item {
          width: auto;
          margin: 1rem 0 1rem -@em !important;
          padding: 0 0 0 @em !important;
          color: @grey;
          border-left:2px solid white !important;
          &.active {
            color: @blue;
            border-left:2px solid @blue !important;
          }
          &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: '';
            clear: both;
            height: 0;
          }
        }
      }
    }
  }
  .fpage-menu {
    &> * {
      display: inline-block;
      margin-right:3rem;
    }
    * {
      border-radius:0 !important;
    }
    .icon-holder {
      margin-right:0;
      float:right;
      i.icon {
        color: @lightgrey;
        margin:2px 3rem 0 0;
      }
    }

  }

}