template
    .ui.grid(style="width:100%")
        .sidenav(style="margin-top:-20px; width:25% !important")
            .fpage-header
                .ui.small.image(style="width:100%; margin-top:32px")
                    img(
                        src="assets/sui/themes/hasli/assets/images/icons/blocks-icon.svg",
                        style="margin:auto", width="80px", height="80px"
                    )
                span.label Block Library
            .fpage-list
                .header
                    | Type
                .ui.vertical.secondary.pointing.menu
                    a.active.item First
                    a.item Second



