
.fpage-list {

  .menu {
    width: 100% !important;
    .active.item {
      border-left-width: 1px;
    }
  }
}

.fpage-body {
  .ui.secondary.pointing.menu{
    .item.active {
      border-bottom-width:1px !important;
    }
  }
}
