//
   Created by dustinlish on 10/21/16.

template(bindable="router")
    //TODO change this from being a dropdown so the span doesn't change to whatever the route is
    .ui.inline.pointing.dropdown.top.right
        i.large.inverted.ion-person.icon
        i.inverted.dropdown.icon
        .menu
            .item
                i.large.ion-image.icon
                | ${user.username}
            .divider
            .item(click.delegate="openSettings()")
                i.ion-ios-settings-strong.icon
                | Account Settings
            .item
                i.ion-help.icon
                | Help
            .divider
            .item(click.delegate="logout()")
                i.ion-log-out.icon
                | Sign out


