template
    .ui.fluid.styled.accordion
        .title
            i.dropdown.icon
            .ui.tiny.image
                img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
        .content
            .ui.container
                .ui.pointing.secondary.tabular.menu
                    a.active.item(data-tab="general")
                        | General
                    a.item(data-tab="ports")
                        | Ports
                    a.item(data-tab="volumes")
                        | Volumes
                    a.item(data-tab="container-advanced")
                        | Advanced
                .ui.active.tab(data-tab='general')
                    .ui.basic.segment
                        .ui.grid
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Name
                            .two.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="nodejs")
                                    .ui.fitted.divider
                                .two.wide.column
                                    .ui.small.basic.primary.button
                                        | Save
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Environment Variables
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="PATH")
                                    .ui.fitted.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/nodejs/bin")
                                    .ui.fitted.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="key")
                                    .ui.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="value")
                                    .ui.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                            .row
                                .column
                                    .ui.small.basic.primary.button
                                        | Delete Application
                .ui.tab(data-tab='ports')
                    .ui.basic.segment
                        .ui.grid
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Port Settings
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="9000")
                                    .ui.fitted.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="10.238.0.53:8080")
                                    .ui.fitted.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="port")
                                    .ui.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="ip:port")
                                    .ui.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                .ui.tab(data-tab='volumes')
                    .ui.basic.segment
                        .ui.grid
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Volumes
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="/usr/src")
                                    .ui.fitted.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="/root/")
                                    .ui.fitted.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="local folder")
                                    .ui.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="docker folder")
                                    .ui.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                .ui.tab(data-tab='container-advanced')
                    .ui.form
                        h4.ui.dividing.header General Information
                        .field
                            .ui.checkbox
                                input.hidden(type='checkbox', tabindex='0')
                                label Some Advanced Setting 1
                        .field
                            .ui.checkbox
                                input.hidden(type='checkbox', tabindex='0')
                                label Some Advanced Setting 1
                        button.ui.basic.primary.button(type='submit') Save
    .ui.fluid.styled.accordion
        .title
            i.dropdown.icon
            .ui.tiny.image
                img(src='styles/themes/hasli/assets/images/logos/mongodb-logo.svg')
        .content
            .ui.container
                .ui.pointing.secondary.tabular.menu
                    a.active.item(data-tab="general")
                        | General
                    a.item(data-tab="ports")
                        | Ports
                    a.item(data-tab="volumes")
                        | Volumes
                    a.item(data-tab="container-advanced")
                        | Advanced
                .ui.active.tab(data-tab='general')
                    .ui.basic.segment
                        .ui.grid
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Name
                            .two.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="mongodb")
                                    .ui.fitted.divider
                                .two.wide.column
                                    .ui.small.basic.primary.button
                                        | Save
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Environment Variables
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="PATH")
                                    .ui.fitted.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/nodejs/bin")
                                    .ui.fitted.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="key")
                                    .ui.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="value")
                                    .ui.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                            .row
                                .column
                                    .ui.small.basic.primary.button
                                        | Delete Application
                .ui.tab(data-tab='ports')
                    .ui.basic.segment
                        .ui.grid
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Port Settings
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="9000")
                                    .ui.fitted.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="10.238.0.53:8080")
                                    .ui.fitted.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="port")
                                    .ui.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="ip:port")
                                    .ui.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                .ui.tab(data-tab='volumes')
                    .ui.basic.segment
                        .ui.grid
                            .row
                                .fourteen.wide.column
                                    h5.ui.header
                                        | Volumes
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="/usr/src")
                                    .ui.fitted.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" value="/root/")
                                    .ui.fitted.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/x-circle.svg')
                            .three.column.row
                                .four.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="local folder")
                                    .ui.divider
                                .ten.wide.column
                                    .ui.transparent.input
                                        input(type="text" placeholder="docker folder")
                                    .ui.divider
                                .one.wide.column
                                    img(src='styles/themes/hasli/assets/images/icons/plus-green-circle.svg')
                .ui.tab(data-tab='container-advanced')
                    .ui.form
                        h4.ui.dividing.header General Information
                        .field
                            .ui.checkbox
                                input.hidden(type='checkbox', tabindex='0')
                                label Some Advanced Setting 1
                        .field
                            .ui.checkbox
                                input.hidden(type='checkbox', tabindex='0')
                                label Some Advanced Setting 1
                        button.ui.basic.primary.button(type='submit') Save
    //.ui.fluid.styled.accordion
    //    .active.title
    //        i.dropdown.icon
    //        .ui.tiny.image
    //            img(src='styles/themes/hasli/assets/images/logos/mysql-logo.svg')
    //    .active.content
    //        form.ui.form
    //            .ui.hidden.divider
    //            .ui.stackable.grid
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label Name
    //                    .twelve.wide.column
    //                        input(type='text', name='name', value='MySql')
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label Version
    //                    .twelve.wide.column
    //                        select.ui.fluid.dropdown
    //                            option(value='6.10.0 LTS') 5.6
    //                            option(value='new') 5.5
    //                            option(value='new') 4.4
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label Deployment Policy
    //                    .twelve.wide.column
    //                        select.ui.fluid.dropdown
    //                            option(value='') Select Policy
    //                            option(value='new') default-micro-us-west-1
    //                            option(value='new') default-small-us-west-1
    //                            option(value='new') default-medium-us-west-1
    //                // TODO dynamic fields based on application
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label ROOT PASSWORD
    //                    .twelve.wide.column
    //                        input(type='text', name='root-password', placeholder='root password')
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label ADMIN USERNAME
    //                    .twelve.wide.column
    //                        input(type='text', name='admin-user', placeholder='MySql admin user')
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label ADMIN PASSWORD
    //                    .twelve.wide.column
    //                        input(type='text', name='admin-pass', placeholder='admin user password')
    //            .ui.hidden.divider
    //    .active.title
    //        i.dropdown.icon
    //        .ui.tiny.image
    //            img(src='styles/themes/hasli/assets/images/logos/nodejs-logo.svg')
    //    .active.content
    //        form.ui.form
    //            .ui.hidden.divider
    //            .ui.stackable.grid
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label Name
    //                    .twelve.wide.column
    //                        input(type='text', name='name', value='NodeJs')
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label Version
    //                    .twelve.wide.column
    //                        select.ui.fluid.dropdown
    //                            option(value='6.10.0 LTS') 6.10.0 LTS
    //                            option(value='new') 5.10.0 LTS
    //                            option(value='new') 4.10.0 LTS
    //                            option(value='new') 3.10.0 LTS
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label Deployment Policy
    //                    .twelve.wide.column
    //                        select.ui.fluid.dropdown
    //                            option(value='') Select Policy
    //                            option(value='new') default-micro-us-west-1
    //                            option(value='new') default-small-us-west-1
    //                            option(value='new') default-medium-us-west-1
    //                // TODO dynamic fields based on application
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label APP_ENTRY_POINT
    //                    .twelve.wide.column
    //                        input(type='text', name='entry', value='app.js')
    //                .row.form--field
    //                    .three.wide.right.aligned.middle.aligned.column
    //                        .required.field
    //                            label http
    //                    .twelve.wide.column
    //                        select.ui.fluid.dropdown
    //                            option(value='8080') 8080
    //                            option(value='new') 8081
    //                            option(value='new') 8082
    //            .ui.hidden.divider
