template
    .folio
        .header
            | ${header}
            .menu
                .item(repeat.for="page of pages")
                    img(src="${page.icon}")
                .control
                    img(src="assets/sui/themes/hasli/assets/images/icons/plus-circle.svg")
        .body
            compose(view-model.bind="active")
