template
    .header Instances
    .content
        .ui.basic.segment(if.bind="loading")
            .ui.active.inverted.dimmer.inline-loader
                .ui.large.loader
        template(if.bind="!loading")
            .ui.basic.segment(if.bind="instances.length == 0")
                .widget-table-empty-alert You have no instances available
            .ui.link.centered.four.cards(if.bind="instances.length > 0")
                .card(repeat.for="instance of instances" click.delegate="save(instance)")
                    //.image
                    .content ${instance.name}