//
   Created by dustinlish on 2/21/17.

template
    .ui.basic.segment
        .ui.grid
            .row
                .fourteen.wide.column
                    h5.ui.header
                        | Port Settings
            .three.column.row
                .eight.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="http")
                    .ui.divider
                .two.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="80")
                    .ui.divider
                .five.wide.column
                    i.ui.ion-ios-plus-outline.big.green.icon