//
   Created by dustinlish on 2/21/17.

template
    .ui.basic.segment
        h2.ui.header
            | Variables
        .ui.hidden.divider
        .ui.grid
            .three.column.row(repeat.for="arg of arguments")
                .seven.wide.column
                    .ui.transparent.input
                        input(type="text" value="${arg.type}")
                    .ui.divider
                .seven.wide.column
                    .ui.transparent.input
                        input(type="text" value="${arg.args.join(' ')}")
                    .ui.divider
                .two.wide.column
                    i.link.ui.ion-ios-close-outline.big.red.icon
            .three.column.row
                .seven.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="KEY")
                    .ui.divider
                .seven.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="VALUE")
                    .ui.divider
                .two.wide.column
                    i.link.ui.ion-ios-plus-outline.big.green.icon
