//
   Created by dustinlish on 2/21/17.

template
    .ui.basic.segment
        h2.ui.header
            | Variables
            .ui.right.floated.basic.primary.button(click.delegate='newVariable()')
                | NEW
        .ui.hidden.divider
        .ui.divider
        .ui.hidden.divider
        table.ui.very.padded.very.basic.table
            thead
                tr
                    th.center.aligned.one.wide.no-border TYPE
                    th.five.wide.no-border NAME
                    th.seven.wide.no-border VALUE
                    th.one.wide.no-border REQUIRED
                    th.one.wide.no-border PRIVATE
                    th.one.wide.no-border.right.aligned
            tbody
                tr(repeat.for="variable of variables")
                    td.center.aligned.top.aligned.no-border
                        i.ion-ios-locked-outline.large.icon(if.bind="variable.isPassword()")
                        i.ion-code-working.large.icon(if.bind="variable.isPort()")
                        svg(width='14px', height='14px', viewbox='290 320 32 32', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')(if.bind="variable.isText()")
                            defs
                            path#Fill-54(d='M316.943,320.591 L321.443,320.591 L321.443,329.591 L319.943,329.591 C319.943,329.011 319.863,328.526 319.703,328.136 C319.543,327.746 319.363,327.446 319.164,327.236 C318.963,327.026 318.628,326.876 318.158,326.786 C317.687,326.696 317.289,326.641 316.959,326.621 C316.629,326.602 316.123,326.591 315.443,326.591 L309.443,326.591 L309.443,346.091 L312.443,347.591 L312.443,350.591 L300.443,350.591 L300.443,347.591 L303.443,346.091 L303.443,326.591 L297.443,326.591 C296.764,326.591 296.258,326.602 295.928,326.621 C295.598,326.641 295.203,326.696 294.743,326.786 C294.283,326.876 293.948,327.026 293.738,327.236 C293.528,327.446 293.344,327.746 293.184,328.136 C293.023,328.526 292.943,329.011 292.943,329.591 L291.443,329.591 L291.443,320.591 L316.943,320.591 L316.943,320.591 Z', stroke='#231F1F', stroke-width='1', fill='none')


                    td.no-border
                        .ui.transparent.fluid.input
                            input(type="text" value="${variable.name}")
                        .ui.divider.input-divider
                    td.no-border
                        .ui.transparent.fluid.input
                            input(type="text" value="${variable.value}")
                        .ui.divider.input-divider
                    td.center.aligned.no-border
                        .ui.checkbox
                            input(type='checkbox', name='required')
                            label
                    td.center.aligned.no-border
                        .ui.checked.checkbox
                            input(type='checkbox', name='private', checked="")
                            label
                    td.center.aligned.no-border
                        i.link.ui.ion-ios-close-outline.big.red.icon
