//
   Created by dustinlish on 2/21/17.

template
    .ui.basic.segment
        h2.ui.header
            | Variables
        .ui.hidden.divider
        .ui.grid
            .three.column.row(repeat.for="arg of arguments")
                .four.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" value="${arg.type}")
                    .ui.divider
                .eleven.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" value="${arg.args}")
                    .ui.divider
                .one.wide.column
                    i.link.ui.ion-ios-close-outline.big.red.icon
            .three.column.row
                .four.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" placeholder="KEY")
                    .ui.divider
                .eleven.wide.column
                    .ui.transparent.fluid.input
                        input(type="text" placeholder="VALUE")
                    .ui.divider
                .one.wide.column
                    i.link.ui.ion-ios-plus-outline.big.green.icon
