template

    .row(ref="panel")
        .col.s12
            ul.tabs
                .li.tab.col.s3(repeat.for="child of children")
                    a(href="#" click.delegate="open(child.id)" class="${child.active ? 'active' : ''}")
                        i.material-icons.mdi.mdi-cloud-outline

        slot
