template

    .row(ref="panel")
        .col.s12
            ul.tabs
                .li.tab.col.s3(repeat.for="child of children")
                    a(href="#" click.delegate="open(child.id)" class="${child.active ? 'active' : ''}")
                        i.material-icons.mdi.mdi-cloud-outline

        slot
        //#test1.col.s12 Test 1
        //#test2.col.s12 Test 2
        //#test3.col.s12 Test 3
        //#test4.col.s12 Test 4


    //.panel-navigation
    //    .item(repeat.for="child of children") ${child.getName()}
    //slot
