template
    h2 Overview
    ul.collection
        li.collection-item.avatar
            img.circle(src='assets/icons/sunshower-logo.svg', alt='')
            div 
                span.title Sunshower v0.2.1-SNAPSHOT (6365493804cf0ccf0a1725483ac82bc40283a6084750043942740bda9baa2720)
            i.material-icons.mdi.mdi-web Sunshower.io update site is unavailable
            br 
            i.material-icons.mdi.mdi-alert 3 core plugins not installed or broken!
            br
            i.material-icons.mdi.mdi-theme-light-dark Theme: CloudBees Chrome 0.0.1-SNAPSHOT
            
