template
    .ui.container
        .ui.grid.padded
            .ui.column.two.wide.menu.vertical.labeled.icon
                .item Manage
                .item(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}" href.bind='row.href')
                    i.icon(class="${row.settings.icon}")
                    | ${row.title}
                .item
                    i.icon.fork
                    | Clusters
                .item
                    i.icon.compass
                    | Discovery
                .item
                    i.icon.users
                    | Groups
                .item
                    i.icon.folder.open.outline
                    | Filesystem
                .item
                    i.icon.github
                    | Repositories
                .item
                    i.icon.random
                    | DAG
                .item
                    i.icon.download
                    | Backups
            .ui.column.fourteen.wide
                router-view



