template
    .ui.form
        .field.overlay-field
            .overlay-label
                label This is a label!
            .ui.input.overlay-input
                input(type="text")
            .overlay-help
                i.icon.help.circle.outline.large