template
    .overlay
        .ui.container
            .overlay-close
                i.big.grey.icon.ion-close-round(click.delegate="close()")
            h2.ui.center.aligned.grey.header Create Instance
            .ui.basic.segment
                h2.ui.header
                    i.circular.blue.ion-ios-cloud-outline.icon.circular--icon.circular--icon_blue
                    .content
                        |  New Instance
            h4.ui.dividing.header Details
            form.ui.form
                .inline.fields
                    .field
                        label Name
                        input(type="text" value.bind="deployment.name")




