//
   Created by dustinlish on 3/28/17.

template
    .ui.hidden.divider
    .ui.segment
        .ui.grid
            .row
                .column
                    h3.ui.header
                        | docker-compose.yml
                        .ui.right.floated.basic.primary.button(click.delegate='newVariable()')
                            | Save
        .ui.divider
        div(id="editor", style="min-height:600px")