//
   Created by dustinlish on 2/21/17.
template
    .ui.hidden.divider
    .ui.hidden.divider
    .ui.hidden.divider
    .ui.grid.hasli-form.ui.form
        .row
            .thirteen.wide.column
                h3 Change Name
            .three.wide.column
                button.ui.primary.basic.button(click.delegate="incompleteFeature.notify($event)")
                    | Edit
        .row
            .ui.divider.sixteen.wide.column
        .row
            .thirteen.wide.column
                h3 Change Application
            .three.wide.column
                button.ui.primary.basic.button(click.delegate="incompleteFeature.notify($event)")
                    | Edit
        .row
            .ui.divider.sixteen.wide.column
        .row
            .thirteen.wide.column
                h3 Change Description
            .three.wide.column
                button.ui.primary.basic.button(click.delegate="incompleteFeature.notify($event)")
                    | Edit
        .row
            .ui.divider.sixteen.wide.column
        form.row
            .sixteen.wide.column
                h3 Add Github Repository
            .twelve.wide.column
                .hasli-field.ui.field
                    .hasli-label
                        label Repository Url
                    .hasli-input.ui.input
                        input(type="text" name="repository", value.bind="remote.location")
                .hasli-field.ui.field
                    .hasli-label
                        label Username
                    .hasli-input.ui.input
                        input(type="text" name="username", value.bind="remote.credential.credential")
                .hasli-field.ui.field
                    .hasli-label
                        label Password
                    .hasli-input.ui.input
                        input(type="password" name="password", value.bind="remote.credential.secret")

            .four.wide.column
                img.ui.image.small(src="styles/themes/hasli/assets/images/github-mark.svg")
            .sixteen.wide.column.center.aligned
                button.ui.secondary.button(type="submit" click.delegate="saveRepository()")
                    | Save
        .ui.bottom.attached.error.message(if.bind="message") ${message.message}

