template
    .summary-holder
        summary(stroke="blue", text="CA Technologies", size="100")
        summary(stroke="blue", text="CA Technologies", size="50")
        summary(stroke="blue", text="CA Technologies", size="25")
        summary(stroke="blue", text="Wab Dab", size="90")
        summary(text="Wab Dab")
        summary(stroke="blue", text="Wab Dab", size="30")
        summary(stroke="blue", text="Wab", size="100")
        summary(stroke="blue", text="Wab", size="50")
        summary(stroke="blue", text="Wab", size="25")