template
    .body-content
        .card
            .card-content
                summary-icon(text="Lisa's Card" textColor="#239ae8" size="64")
                .card-title Lisa's Card
                button.card-button.btn Deploy
            .card-action Down here is where we'll put extra info
    .body-menu
        | Hi I'm the beginning of the menu!