

//neutrals
$black: #202122;
$darkGrey: #2D2E30;
$mediumGrey: #3C3F41;
$lightGrey: #47484B;
$lightestGrey: #999999;


//colors
$orange: #C85327;
$brightBlue: #418b90;
$blue: #4F7E81;
$purple: #311b34;
$lightPurple: #c9a7ce;
$olive: #3c412f;




//aliases
$darkGray: $darkGrey;
$mediumGray: $mediumGrey;
$lightGray: $lightGrey;
$lightestGray: $lightestGrey;
$lilac: $lightPurple;
$green: $olive;